{% for item in video_items %}
    <div class="offers__card user-video-select"
         data-id="{{ item.snippet.resourceId.videoId }}">
        <div class="video__preview">
            <div class="video__previewpic">
                <img src="{{ item.snippet.thumbnails.default.url }}">
            </div>
            <p class="video__title">{{ item.snippet.title }}</p>
        </div>
    </div>
{% endfor %}