{% if incoming|length %}
    <div class="offers__cards">
    {% for order in incoming %}
    <div class="offers__card">
            {% if order.clientGoogleAccount is not null %}
                <div class="user-stats-popup" data-content="{{ order.clientGoogleAccount.channelStats['subscriberCount'] }} подписчиков, {{ order.clientGoogleAccount.channelStats['viewCount'] }} просмотров">
                    <img class="card__ava" src="{{ order.clientGoogleAccount.channelImages['default'] }}">
                    <p class="card__name">{{ order.clientGoogleAccount.channelName }}</p>
                </div>
            {% else %}
                <div>
                    <img class="card__ava" src="{{ asset('bundles/app/images/no_pic.png') }}">
                    <p class="card__name">{{ order.client.name }}</p>
                </div>
            {% endif %}
            <div class="card__time">{{ order.createdAt|simple_date }}</div>
            {#<iframe style="width: 100%; height: auto;" src="https://www.youtube.com/embed/{{ order.video }}" frameborder="0" allowfullscreen></iframe>#}
            {#<img src="https://img.youtube.com/vi/{{ order.video }}/sddefault.jpg">#}
            <a href="{{ path('like_process', {'id': order.id}) }}" class="card__link">Открыть заявку</a>
            <a href="https://www.youtube.com/watch?v={{ order.video }}" class="card__link">Открыть <i class="fa fa-external-link"></i></a>
    </div>
    {% endfor %}
    </div>
{% else %}
    <p class="rl-14">Нет открытых входящих заявок.</p>
{% endif %}
