{% if outgoing|length %}

    {% for order in outgoing %}
    <div class="table__item">
            <div class="user-stats-popup" data-content="{{ order.doerGoogleAccount.channelStats['subscriberCount'] }} подписчиков, {{ order.doerGoogleAccount.channelStats['viewCount'] }} просмотров">
                <div class="item__image">
                  <img class="" src="{{ order.doerGoogleAccount.channelImages['default'] }}">
                </div>
                <p class="item__channelname">{{ order.doerGoogleAccount.channelName }}</p>
            </div>
            <a class="item__link" href="https://www.youtube.com/watch?v={{ order.video }}" target="_blank" rel="noreferrer nofollow">Открыть <i class="fa fa-external-link"></i></a>
            <p class="item__time">{{ order.createdAt|simple_date }}</p>
            <p class="item__statuslbl" style="color: #808080;">Ожидает<i class="fa fa-question-circle"></i></p>
      </div>
    {% endfor %}
{% else %}
    <p class="rl-14">Нет открытых исходящих заявок.</p>
{% endif %}
