{% if succeed|length %}
        {% for order in succeed %}
        <div class="table__item">
                {% if order.client.id == app.user.id %}
                    <div class="user-stats-popup" data-content="{{ order.doerGoogleAccount.channelStats['subscriberCount'] }} подписчиков, {{ order.doerGoogleAccount.channelStats['viewCount'] }} просмотров">
                        <i class="fa fa-arrow-up"></i>
                        <div class="item__image">
                          <img class="" src="{{ order.doerGoogleAccount.channelImages['default'] }}">
                        </div>
                        <p class="item__channelname">{{ order.doerGoogleAccount.channelName }}</p>
                    </div>
                {% else %}
                        {% if order.clientGoogleAccount is not null %}
                          <div class="user-stats-popup" data-content="{{ order.clientGoogleAccount.channelStats['subscriberCount'] }} подписчиков, {{ order.clientGoogleAccount.channelStats['viewCount'] }} просмотров">
                              <i class="fa fa-arrow-up"></i>
                              <div class="item__image">
                                <img class="" src="{{ order.clientGoogleAccount.channelImages['default'] }}">
                              </div>
                              <p class="item__channelname">{{ order.clientGoogleAccount.channelName }}</p>
                          </div>
                        {% else %}
                            <div class="user-stats-popup" data-content="Нет аккаунта">
                                <div class="item__image">
                                  <img class="" src="{{ asset('bundles/app/images/no_pic.png') }}">
                                </div>
                                <p class="item__channelname">{{ order.client.name }}</p>
                            </div>
                        {% endif %}
                {% endif %}
                <a class="item__link" href="https://www.youtube.com/watch?v={{ order.video }}" target="_blank" rel="noreferrer nofollow">Открыть <i class="fa fa-external-link"></i></a>
                <p class="item__time">{{ order.createdAt|simple_date }}</p>
                <p class="item__statuslbl" style="color: #55D090;">Выполнена<i class="fa fa-check-circle"></i></p>
            </tr>
            </div>
        {% endfor %}
{% else %}
    <p class="rl-14">Нет выполненных заявок.</p>
{% endif %}
