{% if outgoing|length %}
    <div class="offers__cards">
    {% for order in outgoing %}
    <div class="offers__card">
            <div class="user-stats-popup" data-content="{{ order.doerGoogleAccount.channelStats['subscriberCount'] }} подписчиков, {{ order.doerGoogleAccount.channelStats['viewCount'] }} просмотров">
                <img class="card__ava" src="{{ order.doerGoogleAccount.channelImages['default'] }}">
                <p class="card__name">{{ order.doerGoogleAccount.channelName }}</p>
            </div>
            <div class="card__time">{{ order.createdAt|simple_date }}</div>
        <div class="">
            {#<iframe style="width: 100%; height: auto;" src="https://www.youtube.com/embed/{{ order.video }}" frameborder="0" allowfullscreen></iframe>#}
            {#<img src="https://img.youtube.com/vi/{{ order.video }}/sddefault.jpg">#}
            <p class="item__statuslbl" style="color: #808080;">Ожидает<i class="fa fa-question-circle"></i></p>
            <a href="https://www.youtube.com/watch?v={{ order.video }}" class="card__link">Открыть <i class="fa fa-external-link"></i></a>
        </div>
    </div>
    {% endfor %}
    </div>
{% else %}
    <p class="rl-14">Нет открытых исходящих заявок.</p>
{% endif %}
