{% if incoming|length %}
      {% for order in incoming %}
        <div class="table__item">
          {% if order.clientGoogleAccount is not null %}
            <div class="user-stats-popup" data-content="{{ order.clientGoogleAccount.channelStats['subscriberCount'] }} подписчиков, {{ order.clientGoogleAccount.channelStats['viewCount'] }} просмотров">
                <div class="item__image">
                  <img class="" src="{{ order.clientGoogleAccount.channelImages['default'] }}">
                </div>
                <p class="item__channelname">{{ order.clientGoogleAccount.channelName }}</p>
            </div>
          {% else %}
            <div class="user-stats-popup" data-content="Нет аккаунта">
                <div class="item__image">
                  <img class="" src="{{ asset('bundles/app/images/no_pic.png') }}">
                </div>
                <p class="item__channelname">{{ order.client.name }}</p>
            </div>
          {% endif %}
            <a class="item__link" href="https://www.youtube.com/watch?v={{ order.video }}" target="_blank" rel="noreferrer nofollow">Открыть <i class="fa fa-external-link"></i></a>
            <p class="item__time">{{ order.createdAt|simple_date }}</p>
            <a class="item__link" href="{{ path('like_process', {'id': order.id}) }}">Открыть заявку <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        {% endfor %}

{% else %}
        <p class="rl-14">Нет открытых входящих заявок.</p>
{% endif %}
