{% extends '@App/layout/panel.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1">КУПИТЬ LIKE</h1>
    {{ form_start(form, {'attr': {'class': 'ui large form'~(form.vars.valid ? '' : ' error')}}) }}
    {%  if my_videos != false and my_videos|length %}
        <h4 class="offers__subheader graybg psides16">ВЫБЕРИТЕ ВИДЕО СО СВОЕГО КАНАЛА</h4>
        <div id="my-videos" data-next="{{ my_videos.nextPageToken }}" class="offers__cards">
            {{ include('@App/Like/_buy_video_list.html.twig', {'video_items': my_videos.items}) }}
        </div>
        {% if my_videos.nextPageToken is not null %}
            <a id="my-videos-more" class="btn btn--blue">Показать еще</a>
            <script>
                $(function () {
                    var $my_videos = $('#my-videos'),
                            $more_button = $('#my-videos-more');
                    $more_button.on('click', function () {
                        $.ajax({
                            type: "GET",
                            url: '{{ path('like_load_more_videos') }}',
                            data: { token: $my_videos.data('next') }
                        })
                                .done(function (response) {
                                    $my_videos.append(response.content);
                                    if (response.next != null) {
                                        $my_videos.data('next', response.next);
                                    } else {
                                        $more_button.remove();
                                    }
                                })
                                .fail(function () {
                                    $more_button.remove();
                                })
                    })
                })
            </script>
        {% endif %}
        <h4 class="offers__subheader graybg psides16" style="margin-bottom: 16px">ИЛИ УКАЖИТЕ ССЫЛКУ НА ВИДЕО</h4>
    {% else %}
        <h4 class="offers__subheader graybg psides16" style="margin-bottom: 16px">УКАЖИТЕ ССЫЛКУ НА ВИДЕО</h4>
    {% endif %}
    <div class="field">
        <div class="field__group">
          <div class="input__box">
              <p style="white-space: nowrap"></p>
              {{ form_widget(form.video_link, {'attr': {'placeholder': 'Укажите ссылку на видео', 'class': 'input__text'}}) }}
          </div>
          <button type="submit" class="btn btn--green" style="margin-bottom: 20px;">Купить</button>
        </div>
        {% if form_errors(form.video_link) %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ form_errors(form.video_link) }}</p>
          </div>
        {% endif %}

    </div>
    <h4 class="offers__subheader graybg psides16" style="margin-bottom: 16px">ВЫБЕРИТЕ ИСПОЛНИТЕЛЯ</h4>
    <select id="offers-sort">
        <option data-attr="price" data-direction="asc">Цена &uparrow;</option>
        <option data-attr="price" data-direction="desc">Цена &downarrow;</option>
        <option data-attr="subscribers" data-direction="asc">Подписчики &uparrow;</option>
        <option data-attr="subscribers" data-direction="desc">Подписчики &downarrow;</option>
        <option data-attr="views" data-direction="asc">Просмотры &uparrow;</option>
        <option data-attr="views" data-direction="desc">Просмотры &downarrow;</option>
    </select>
    {% if offers|length %}
        <div id="offers-cards" class="offers__cards">
            {% for offer in offers %}
            <div class="offers__card offer-select{% if form.offer_id.vars.value == offer.id %} offer-form-selected{% endif %}"
                 data-id="{{ offer.id }}" data-price="{{ offer.fullPrice }}" data-subscribers="{{ offer.googleAccount.channelStats['subscriberCount'] }}" data-views="{{ offer.googleAccount.channelStats['viewCount'] }}">
                <div class="content">
                    <div class="user-stats-popup author" data-content="{{ offer.googleAccount.channelName }}">
                        <img class="card__ava" src="{{ offer.googleAccount.channelImages['default'] }}">
                        <p class="card__name">{{ offer.googleAccount.channelName }}</p>
                    </div>
                    <div class="label label--red">{{ offer.fullPrice }} ₽</div>
                    <div class="item__link">{{ offer.comment }}</div>
                </div>
                <div class="">
                    <p class="text--redspan">Подписчики: <span>{{ offer.googleAccount.channelStats['subscriberCount'] }}</span></p>
                    <p class="text--redspan">Просмотры: <span>{{ offer.googleAccount.channelStats['viewCount'] }}</span></p>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="padded">НЕТ ДОСТУПНЫХ ПРЕДЛОЖЕНИЙ</p>
    {% endif %}
    {{ form_widget(form.offer_id) }}

    {% if form_errors(form.offer_id) %}
      <div class="message message--error">
        <div class="message__close fa fa-times-circle"></div>
        <p class="message__header">{{ form_errors(form.offer_id) }}</p>
      </div>
    {% endif %}

    <button type="submit" class="btn btn--green" style="margin-bottom: 20px;">Купить</button>

    {{ form_end(form) }}
    <script>
        $(function () {
            $('#my-videos').on('click', '.user-video-select', function () {
                $('.user-video-select').removeClass('offer-form-selected');
                $(this).addClass('offer-form-selected');
                $('#order_buy_video_link').val('https://www.youtube.com/watch?v=' + $(this).data('id'));
            });
            $('#order_buy_video_link').on('change', function () {
                $('.user-video-select').removeClass('offer-form-selected');
            })
            $('#offers-cards').on('click', '.offer-select', function () {
                if ($(this).hasClass('offer-form-selected')) {
                    $(this).removeClass('offer-form-selected');
                    $('#order_buy_offer_id').val('');
                } else {
                    $('.offer-select').removeClass('offer-form-selected');
                    $(this).addClass('offer-form-selected');
                    $('#order_buy_offer_id').val($(this).data('id'));
                }
            });
            $('#offers-sort').dropdown();
            $('#offers-sort').on('change', function () {
                sortOffers($(this).data('attr'), $(this).data('direction'));
            });
            function sortOffers(attr, dir) {
                var $container = $('#offers-cards'),
                    cards = $container.children().toArray();
                cards.sort(function (a, b) {
                    var d = dir == 'asc' ? 1 : -1;
                    return $(a).data(attr) > $(b).data(attr) ? d : -d;
                });
                $container.empty().append(cards);
            }
        })
    </script>
{% endblock %}
