{% extends '@App/layout/panel.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1">История заявок</h1>
    {% if pagination|length %}
        <table class="ui table">
            <thead>
            <tr class="tableheader">
                <th></th>
                <th>Заказчик/Исполнитель</th>
                <th>Видео</th>
                <th>Сумма</th>
                <th>Дата</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for order in pagination %}
                <tr class="tablecell">
                    {% if order.status == constant('AppBundle\\Entity\\Order::STATUS_WAITING') %}
                      <td><i class="fa fa-arrow-up"></i></td>
                    {% elseif order.status == constant('AppBundle\\Entity\\Order::STATUS_DONE') %}
                      <td><i class="fa fa-arrow-down"></i></td>
                    {% elseif order.status == constant('AppBundle\\Entity\\Order::STATUS_REJECTED') %}
                      <td><i class="fa fa-arrow-up"></i></td>
                    {% elseif order.status == constant('AppBundle\\Entity\\Order::STATUS_EXPIRED') %}
                      <td><i class="fa fa-arrow-up"></i></td>
                    {% else %}
                      <td><i class="fa fa-arrow-up"></i></td>
                    {% endif %}
                    {% if order.client.id == app.user.id %}
                        <td>
                            <span class="user-stats-popup" data-content="{{ order.doerGoogleAccount.channelStats['subscriberCount'] }} подписчиков, {{ order.doerGoogleAccount.channelStats['viewCount'] }} просмотров">
                                <img class="ui avatar image" src="{{ order.doerGoogleAccount.channelImages['default'] }}">
                                    {{ order.doerGoogleAccount.channelName }}
                            </span>
                        </td>
                    {% else %}
                        <td>
                            {% if order.clientGoogleAccount is not null %}
                                <span class="user-stats-popup" data-content="{{ order.clientGoogleAccount.channelStats['subscriberCount'] }} подписчиков, {{ order.clientGoogleAccount.channelStats['viewCount'] }} просмотров">
                            <img class="ui avatar image" src="{{ order.clientGoogleAccount.channelImages['default'] }}">
                                    {{ order.clientGoogleAccount.channelName }}
                        </span>
                            {% else %}
                                <span>
                            <img class="ui avatar image" src="{{ asset('bundles/app/images/no_pic.png') }}">
                                    {{ order.client.name }}
                        </span>
                            {% endif %}
                        </td>
                    {% endif %}
                    <td><a href="https://www.youtube.com/watch?v={{ order.video }}">https://www.youtube.com/watch?v={{ order.video }}</a></td>
                    <td><nobr>{{ order.fullPrice }} ₽</nobr></td>
                    <td>{{ order.createdAt|simple_date }}</td>
                    <td>
                        {% if order.status == constant('AppBundle\\Entity\\Order::STATUS_WAITING') %}
                            <span class="ui small label" style="color: #808080">Ожидает обработки</span>
                        {% elseif order.status == constant('AppBundle\\Entity\\Order::STATUS_DONE') %}
                            <span class="ui small green label" style="color: #55D090">Выполнена</span>
                        {% elseif order.status == constant('AppBundle\\Entity\\Order::STATUS_REJECTED') %}
                            <span class="ui small red label" style="color: #D72932">Отклонена</span>
                        {% elseif order.status == constant('AppBundle\\Entity\\Order::STATUS_EXPIRED') %}
                            <span class="ui small yellow label" style="color: #F1C40F">Просрочена</span>
                        {% else %}
                            <span class="ui small red label" style="color: #D72932">Ошибка</span>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            {{ include('@App/Pagination/_pagination.html.twig', {'controls': pagination_controls}) }}
        </div>
    {% else %}
        <p>У вас пока нет заявок</p>
    {% endif %}
{% endblock %}
