{% extends '@App/layout/panel.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <div class="offers__header">
        <h1 class="offers__h1" style="">ЗАЯВКИ</h1>
        <div class="offers__buttons">
            <a data-display="{{ constant('AppBundle\\Entity\\User::SETTING_DASHBOARD_DISPLAY_TILES') }}" href="#" class="change-display"><img src="{{ asset('bundles/app/images/block.svg') }}" alt=""></a>
            <a data-display="{{ constant('AppBundle\\Entity\\User::SETTING_DASHBOARD_DISPLAY_TABLE') }}" href="#" class="change-display"><img src="{{ asset('bundles/app/images/table.svg') }}" alt=""></a>
        </div>
    </div>

    <h3 class="offers__subheader graybg psides16">ЗАЯВКИ ЗА СЕГОДНЯ</h3>
    <div id="incoming" class="pb20">
        {% if app.user.settingDashboardDisplay == constant('AppBundle\\Entity\\User::SETTING_DASHBOARD_DISPLAY_TABLE') %}
            {{ include('@App/Like/_orders_incoming_table.html.twig') }}
        {% else %}
            {{ include('@App/Like/_orders_incoming_tiles.html.twig') }}
        {% endif %}
    </div>

    <h3 class="offers__subheader graybg psides16 ">ЗАЯВКИ НА ПОКУПКУ</h3>
    <div id="outgoing" class="pb20">
        {% if app.user.settingDashboardDisplay == constant('AppBundle\\Entity\\User::SETTING_DASHBOARD_DISPLAY_TABLE') %}
            {{ include('@App/Like/_orders_outgoing_table.html.twig') }}
        {% else %}
            {{ include('@App/Like/_orders_outgoing_tiles.html.twig') }}
        {% endif %}
    </div>

    <h3 class="offers__subheader graybg psides16">ПОСЛЕДНИЕ ВЫПОЛНЕННЫЕ ЗАЯВКИ</h3>
    <div id="succeed" class="pb20">
        {% if app.user.settingDashboardDisplay == constant('AppBundle\\Entity\\User::SETTING_DASHBOARD_DISPLAY_TABLE') %}
            {{ include('@App/Like/_orders_succeed_table.html.twig') }}
        {% else %}
            {{ include('@App/Like/_orders_succeed_tiles.html.twig') }}
        {% endif %}
    </div>

    <h3 class="offers__subheader graybg psides16">ПОСЛЕДНИЕ ОТКЛОНЕННЫЕ ЗАЯВКИ</h3>
    <div id="failed" class="pb20">
        {% if app.user.settingDashboardDisplay == constant('AppBundle\\Entity\\User::SETTING_DASHBOARD_DISPLAY_TABLE') %}
            {{ include('@App/Like/_orders_failed_table.html.twig') }}
        {% else %}
            {{ include('@App/Like/_orders_failed_tiles.html.twig') }}
        {% endif %}
    </div>

    <script>
        $('.user-stats-popup').popup();
        $(function () {
            $('.change-display').on('click', function () {
                updateOrders($(this).data('display'));
            });
            var updater = setInterval(updateOrders, 30000),
                last_update = Math.floor(Date.now() / 1000),
                audio = $('<audio id="audio-notification"><source src="{{ asset('bundles/app/sound/KJA.mp3') }}" type="audio/ogg"></audio>')[0];
            function updateOrders(display) {
                clearInterval(updater);
                // var loader =  '<div class="ui active loader"></div>';
                // $('#incoming').html(loader);
                // $('#outgoing').html(loader);
                // $('#succeed').html(loader);
                // $('#failed').html(loader);
                $('.mainview')
                  .css('opacity', '.3')
                  .css('pointer-events', 'none')
                  .css('user-select', 'none')
                $.ajax({
                    type: "GET",
                    url: '{{ path('like_index_update') }}',
                    data: { display: display, 'last-update': last_update }
                }).done(function (response) {
                    $('#incoming')
                            .html(response.incoming);
                    $('#outgoing')
                            .html(response.outgoing);
                    $('#succeed')
                            .html(response.succeed);
                    $('#failed')
                            .html(response.failed);
                    $('.mainview')
                            .css('opacity', '1')
                            .css('pointer-events', 'auto')
                            .css('user-select', 'auto')
                    if (response.has_new) {
                        audio.play();
                    }
                    last_update = Math.floor(Date.now() / 1000);
                    updater = setInterval(updateOrders, 30000);
                });
            }
        })
    </script>
{% endblock %}
