{% extends '@App/layout/panel.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1">Обработка заявки</h1>
    {{ form_start(form, {'attr': {'class': 'ui large form'~(form.vars.valid ? '' : ' error')}}) }}
    <h4 class="offers__subheader">Видео</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ order.video }}" frameborder="0" allowfullscreen></iframe>
    <h4 class="offers__subheader">Комментарий к решению</h4>
    <div class="field">
        <div class="input__box">
            <img src="{{ asset('bundles/app/images/to-end_hover.svg') }}" alt="">
            {{ form_widget(form.doer_comment, {'attr': {'placeholder': 'Комментарий', 'class': 'input__text'}}) }}
        </div>
        {% if form_errors(form.doer_comment) %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ form_errors(form.doer_comment) }}</p>
          </div>
        {% endif %}
    </div>
    {{ form_widget(form.doit, {'attr': {'class': 'btn btn--green'}}) }}
    {{ form_widget(form.refuse, {'attr': {'class': 'btn btn--red'}}) }}
    {{ form_end(form) }}
{% endblock %}
