{% extends '@App/layout/panel.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1" style="margin-bottom: 20px;">Продать лайки</h1>
    <p  class="text--redspan">Не удалось идентифицировать аккаунт Youtube. Выполните <a href="{{ path('google_auth_code') }}">привязку</a>.</p>
{% endblock %}
