{% extends '@App/layout/panel.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1" style="margin-bottom: 20px;">ПРОДАТЬ ЛАЙКИ</h1>
    {% if (offer.id is not null) %}
        <h3 class="offers__subheader graybg psides16" style="margin-bottom: 16px">ВАШЕ ПРЕДЛОЖЕНИЕ ДЛЯ КАНАЛА {{ offer.googleAccount.channelName }}</h3>
        <p class="">Цена лайка: {{ offer.price }} (покупатель заплатит {{ offer.fullPrice }})</p>
        <p class="padded">Комментарий:
            {% if offer.comment is not empty %}
                {{ offer.comment }}
            {% else %}
                нет комментария.
            {% endif %}
        </p>
        <a href="{{ path('like_sell_cancel') }}" class="btn btn--red" >Снять предложение</a>
        <h3 class="offers__subheader graybg psides16" style="margin-bottom: 16px">РЕДАКТИРОВАТЬ ПРЕДЛОЖЕНИЕ</h3>
    {% else %}
        <h3 class="offers__subheader graybg psides16" style="margin-bottom: 16px">СОЗДАТЬ ПРЕДЛОЖЕНИЕ</h3>
    {% endif %}
    {{ form_start(form, {'attr': {'class': ''~(form.vars.valid ? '' : ' error')}}) }}
    <div class="field">
        <div class="input__box">
            <img src="{{ asset('bundles/app/images/rub.svg') }}" alt="">
            {{ form_widget(form.price, {'attr': {'placeholder': 'Цена лайка', 'class': 'input__text'}}) }}
        </div>
        {% if form_errors(form.price) %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ form_errors(form.price) }}</p>
          </div>
        {% endif %}
    </div>
    <div class="field">
        <div class="input__box">
            <img src="{{ asset('bundles/app/images/to-end_hover.svg') }}" alt="">
            {{ form_widget(form.comment, {'attr': {'placeholder': 'Комментарий к предложению', 'class': 'input__text'}}) }}
        </div>
        {% if form_errors(form.comment) %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ form_errors(form.comment) }}</p>
          </div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn--green" style="margin-bottom: 20px;">Сохранить предложение</button>
    {{ form_end(form) }}
{% endblock %}
