{% extends '@App/layout/admin.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1">Запросы в поддержку</h1>
    {% if pagination|length %}
        <table class="ui table">
            <thead>
            <tr class="tableheader">
                <th>Тема</th>
                <th>Пользователь</th>
                <th>Дата обращения</th>
                <th>Дата последнего сообщения</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for conversation in pagination %}
                <tr class="tablecell">
                    <td><a style="text-decoration: none; color: #32CDC7" href="{{ path('admin_conversation_view', {'conversation_id' : conversation.id}) }}">{{ conversation.subject }}</a></td>
                    <td>{{ conversation.starter.name }}</td>
                    <td>{{ conversation.createdAt|date('d.m.Y H:i:s') }}</td>
                    <td>{{ conversation.updatedAt|date('d.m.Y H:i:s') }}</td>
                    {% if conversation.status == constant('AppBundle\\Entity\\Conversation::STATUS_OPENED') %}
                        <td>Открыта</td>
                    {% elseif conversation.status == constant('AppBundle\\Entity\\Conversation::STATUS_REOPENED') %}
                        <td>Открыта снова</td>
                    {% else %}
                        <td>Закрыта</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            {{ include('@App/Pagination/_pagination.html.twig', {'controls': pagination_controls}) }}
        </div>
    {% else %}
        <p class="label">Нет запросов в поддержку.</p>
    {% endif %}
{% endblock %}
