{% extends '@App/layout/admin.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1" style="margin-bottom: 20px">Просмотр обращения "{{ conversation.subject }}"</h1>
    {% for message in conversation.messages %}
        <div class="ui segments" style="margin-bottom: 20px">
            <div class="table__item">
                {% if message.user.hasRole('ROLE_ADMIN') %}
                    <p class="label" style="color: #32CDC7">{{ message.user.name }}</p>
                {% else %}
                    <p class="text--redspan" style="color: #32CDC7"><a href="{{ path('admin_users_view', {'id': message.user.id}) }}" target="_blank">{{ message.user.name }}</a></p>
                {% endif %}
                <p class="label" style="margin-left: auto">{{ message.createdAt|date('d.m.Y H:i:s') }}</p>
            </div>
                <p class="label">{{ message.text }}</p>
        </div>
    {% endfor %}
    {% if conversation.status != constant('AppBundle\\Entity\\Conversation::STATUS_CLOSED') %}
        <h3 class="offers__h1">Ответить на обращение</h3>
        {{ form_start(form, {'attr': {'class': 'ui large form'~(form.vars.valid ? '' : ' error')}}) }}
        <h4 class="offers__subheader">{{ form_label(form.text) }}</h4>
        <div class="field">
            <div class="input__box">
                {{ form_widget(form.text, {'attr': {'placeholder': 'Введите сообщение', 'class': 'input__text'}}) }}
            </div>
            {% if form_errors(form.text) %}
              <div class="message message--error">
                <div class="message__close fa fa-times-circle"></div>
                <p class="message__header">{{ form_errors(form.text) }}</p>
              </div>
            {% endif %}
        </div>
        <div class="field">
            <div class="input__text ui checkbox" style="margin-bottom: 20px;">
                {{ form_label(form.closing) }}
                {{ form_widget(form.closing) }}
            </div>
            {% if form_errors(form.closing) %}
              <div class="message message--error">
                <div class="message__close fa fa-times-circle"></div>
                <p class="message__header">{{ form_errors(form.closing) }}</p>
              </div>
            {% endif %}
        </div>
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn--green', 'style': 'margin-bottom: 20px'}}) }}
        {{ form_end(form) }}
        <script>
            $('.ui.checkbox').checkbox();
        </script>
    {% endif %}
{% endblock %}
