{% extends '@App/layout/panel.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1" style="margin-bottom: 20px">История пополнений</h1>
    <a class="btn btn--blue" href="{{ path('deposit_new') }}">Пополнить</a>
    {% if pagination|length %}
        <table class="ui celled table">
            <thead>
            <tr class="tableheader">
                <th>Дата</th>
                <th>Сумма</th>
                <th>Тип</th>
                <th>Номер платежа</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for deposit in pagination %}
                <tr class="tablecell">
                    <td>{{ deposit.createdAt|simple_date }}</td>
                    <td>{{ deposit.amount }}</td>

                    {% if deposit.type == constant('AppBundle\\Entity\\Deposit::TYPE_YANDEX') %}
                        <td>Yandex.Money</td>
                    {% elseif deposit.type == constant('AppBundle\\Entity\\Deposit::TYPE_WEBMONEY') %}
                        <td>WebMoney</td>
                    {% elseif deposit.type == constant('AppBundle\\Entity\\Deposit::TYPE_QIWI') %}
                        <td>QIWI</td>
                    {% else %}
                        <td>Другой</td>
                    {% endif %}

                    <td>{{ deposit.id }}</td>

                    {% if deposit.status == constant('AppBundle\\Entity\\Deposit::STATUS_NEW') %}
                        <td>Новый</td>
                    {% elseif deposit.status == constant('AppBundle\\Entity\\Deposit::STATUS_PROCESSING') %}
                        <td>Ожидает подтверждения</td>
                    {% elseif deposit.status == constant('AppBundle\\Entity\\Deposit::STATUS_DONE') %}
                        <td>Завершен</td>
                    {% elseif deposit.status == constant('AppBundle\\Entity\\Deposit::STATUS_CANCELED') %}
                        <td>Аннулирован</td>
                    {% else %}
                        <td>Ошибка</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            {{ include('@App/Pagination/_pagination.html.twig', {'controls': pagination_controls}) }}
        </div>
    {% else %}
        <p class="label">Вы еще не пополняли свой баланс.</p>
    {% endif %}
{% endblock %}
