{% extends '@App/layout/panel.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1" style="margin-bottom: 20px">Пополнение баланса</h1>
    {{ form_start(form, {'attr': {'id': 'deposit-form', 'class': ''~(form.vars.valid ? '' : ' error')}}) }}
    <div class="field">
        <div class="input__box">
            {{ form_widget(form.amount, {'attr': {'placeholder': 'Сумма ₽', 'class': 'input__text', 'type': 'number'}}) }}
        </div>
        {% if form_errors(form.amount) %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ form_errors(form.amount) }}</p>
          </div>
        {% endif %}
    </div>
    <h4 class="offers__h1" style="margin-bottom: 20px">{{ form_label(form.type) }}</h4>
    <div class="field">
        <div class="input__box">
            {{ form_widget(form.type, {'attr': {'class': 'input__text'}}) }}
        </div>
        {% if form_errors(form.type) %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ form_errors(form.type) }}</p>
          </div>
        {% endif %}
    </div>
    <div id="ajax-error"></div>
    {{ form_widget(form.submit, {'attr': {'class': 'btn btn--green'}}) }}
    {{ form_end(form) }}
    <script>
        $(function () {
            $('#deposit-form').on('submit', function (e) {
                $.ajax({
                    type: "POST",
                    url: '{{ path('deposit_save') }}',
                    data: $(this).serialize()
                })
                        .done(function (response) {
                            if (response.status == 'success') {
                                postToUrl(response.request.url, response.request.params);
                            } else {
                                displayError(response.error);
                            }
                        })
                        .fail(function () {
                            displayError('Не удалось связаться с сервером');
                        });

                e.preventDefault();
            });

            function displayError(error) {
                $('#ajax-error').html('<div class="message message--error"><div class="message__close fa fa-times-circle"></div><p class="message__header">'+error+'</p></div>');
            }

            function postToUrl(url, data) {
                var $form = $('<form method="post" action="'+url+'"></form>');
                $.each(data, function(key, value) {
                    var $field = $('<input type="hidden" name="'+key+'" value="'+value+'">');
                    $form.append($field);
                });
                $(document.body).append($form);
                $form.submit();
            }
        })
    </script>
{% endblock %}
