{% extends '@App/layout/panel.html.twig' %}

{% block title %}Часто задаваемые вопросы{% endblock %}

{% block main_body %}
    <h1 class="offers__h1" style="">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h1>
    {% if faqs|length > 0 %}
      <div class="ui accordion">
        {% for faq in faqs %}
            <div class="title">
              <i class="dropdown icon"></i>
              {{ faq.question }}
            </div>
            <div class="content">
              <p>{{ faq.answer }}</p>
            </div>
        {% endfor %}
      </div>
    {% else %}
        <p>Скоро будут.</p>
    {% endif %}
{% endblock %}
