{% if controls %}
    <div class="ui pagination menu">
        {% for control in controls %}
            <a class="{% if control.active %}active {% endif %}item" href="{{ path(control.route, control.params) }}">
                {{ control.label }}
            </a>
        {% endfor %}
    </div>
{% endif %} 
