{% extends '@App/layout/admin.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1">Журнал пополнений баланса</h1>
    <a class="btn btn--green" style="margin: 20px 0" href="{{ path('admin_deposit_manual') }}">Создать пополнение вручную</a>
    {% if pagination|length %}
    <table class="ui table">
        <thead>
        <tr class="tableheader">
            <th>Номер</th>
            <th>Сумма</th>
            <th>Пользователь</th>
            <th>Дата</th>
            <th>Статус</th>
            <th>Дейсвтия</th>
        </tr>
        </thead>
        <tbody>
        {% for deposit in pagination %}
            <tr class="tablecell">
                <td>{{ deposit.id }}</td>
                <td>{{ deposit.amount }}</td>
                <td>{{ deposit.user.name }}</td>
                <td>{{ deposit.createdAt|date('d.m.Y H:i:s') }}</td>

                {% if deposit.status == constant('AppBundle\\Entity\\Deposit::STATUS_NEW') %}
                    <td>Новый</td>
                {% elseif deposit.status == constant('AppBundle\\Entity\\Deposit::STATUS_PROCESSING') %}
                    <td>Ожидает подтверждения</td>
                {% elseif deposit.status == constant('AppBundle\\Entity\\Deposit::STATUS_DONE') %}
                    <td>Завершен</td>
                {% elseif deposit.status == constant('AppBundle\\Entity\\Deposit::STATUS_CANCELED') %}
                    <td>Аннулирован</td>
                {% else %}
                    <td>Ошибка</td>
                {% endif %}

                <td><a class="btn btn--blue" href="{{ path('admin_deposit_view', {'id': deposit.id}) }}">Посмотреть</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {{ include('@App/Pagination/_pagination.html.twig', {'controls': pagination_controls}) }}
    </div>
    {% else %}
        <p>Нет пополнений.</p>
    {% endif %}
{% endblock %}
