{% extends '@App/layout/admin.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1">Ручное пополнение баланса</h1>
    {{ form_start(form, {'attr': {'id': 'deposit-form', 'class': 'ui large form'~(form.vars.valid ? '' : ' error')}}) }}
    <h4 class="offers__subheader">
        {{ form_label(form.user) }}
    </h4>
    <div class="field">
        <div class="input__box">
            {{ form_widget(form.user, {'attr': {'class': 'input__text'}}) }}
        </div>
        {% if form_errors(form.user) %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ form_errors(form.user) }}</p>
          </div>
        {% endif %}
    </div>
    <h4 class="offers__subheader">
        {{ form_label(form.amount) }}
    </h4>
    <div class="field">
        <div class="input__box">
            {{ form_widget(form.amount, {'attr': {'class': 'input__text'}}) }}
        </div>
        {% if form_errors(form.amount) %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ form_errors(form.amount) }}</p>
          </div>
        {% endif %}
    </div>
    {{ form_widget(form.submit, {'attr': {'class': 'btn btn--green'}}) }}
    {{ form_end(form) }}
{% endblock %}
