{% extends '@App/layout/admin.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1">Детали записи о пополнении баланса номер {{ deposit.id }}</h1>
    <p><b>Пользователь:</b> {{ deposit.user.name }} ({{ deposit.user.email }})</p>
    <p><b>Сумма:</b> {{ deposit.amount }} рублей</p>
    <p><b>Источник:</b>
    {% if deposit.type == constant('AppBundle\\Entity\\Deposit::TYPE_YANDEX') %}
        Yandex.Money
    {% elseif deposit.type == constant('AppBundle\\Entity\\Deposit::TYPE_WEBMONEY') %}
        WebMoney
    {% elseif deposit.type == constant('AppBundle\\Entity\\Deposit::TYPE_QIWI') %}
        QIWI
    {% else %}
        Неизвестен
    {% endif %}
    </p>
    <p><b>Дата создания:</b> {{ deposit.createdAt|date('d.m.Y H:i:s') }}</p>
    <p><b>Дата изменения:</b> {% if deposit.updatedAt is not null %}{{ deposit.updatedAt|date('d.m.Y H:i:s') }}{% else %}Никогда{% endif %}</p>
    <p><b>Статус:</b>
    {% if deposit.status == constant('AppBundle\\Entity\\Deposit::STATUS_NEW') %}
        Новый
    {% elseif deposit.status == constant('AppBundle\\Entity\\Deposit::STATUS_PROCESSING') %}
        Ожидает подтверждения
    {% elseif deposit.status == constant('AppBundle\\Entity\\Deposit::STATUS_DONE') %}
        Завершен
    {% elseif deposit.status == constant('AppBundle\\Entity\\Deposit::STATUS_CANCELED') %}
        Аннулирован
    {% else %}
        Ошибка/Отмена
    {% endif %}
    </p>
    <div>
        {% if deposit.status != constant('AppBundle\\Entity\\Deposit::STATUS_CANCELED') and deposit.status != constant('AppBundle\\Entity\\Deposit::STATUS_DONE') %}
            <h3 class="offers__subheader">Выполнить пополнение</h3>
            <p>Ручное выполнение пополнения стоит произвести в том случае, если по каким то причинам система не смогла автоматически обработать платеж.</p>
            <a class="btn btn--green" href="{{ path('admin_deposit_process', {'id': deposit.id, 'action': 'do'}) }}">Выполнить</a>
        {% endif %}
        {% if deposit.status == constant('AppBundle\\Entity\\Deposit::STATUS_DONE') %}
            <h3 class="offers__subheader">Отменить пополнение</h3>
            <p>Отмена пополнения приведет к списанию зачисленных средств с баланса пользователя. Обратите внимание, что это необратимая операция!</p>
            <a class="btn btn--green" href="{{ path('admin_deposit_process', {'id': deposit.id, 'action': 'cancel'}) }}">Отменить</a>
        {% endif %}
    </div>
{% endblock %}
