{% extends '@App/layout/admin.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1">ПАНЕЛЬ АДМИНИСТРАТОРА</h1>
    <h4 class="offers__h1 padded graybg psides16">ФИНАНСЫ</h4>
    <table class="ui table">
        <thead>
        <tr class="tableheader">
            <th>Общий баланс пользователей</th>
            <th>Сумма заказов за сутки</th>
            <th>Сумма заказов за неделю</th>
        </tr>
        </thead>
        <tbody>
          <tr class="tablecell redtd">
            <td>{{ statistics.totalBalances() ? statistics.totalBalances() : '0' }} ₽</td>
            <td>{{ statistics.ordersValue(1) ? statistics.ordersValue(1) : '0' }} ₽</td>
            <td>{{ statistics.ordersValue(7) ? statistics.ordersValue(7) : '0' }} ₽</td>
          </tr>
        </tbody>
    </table>

<h4 class="offers__h1 padded graybg psides16">ЗАЯВКИ ЗА ПОСЛЕДНЮЮ НЕДЕЛЮ</h4>
    <table class="ui table">
        <thead style="background-color: #f2f2f2">
        <tr class="tableheader">
            <th>Всего</th>
            <th>Выполненных</th>
            <th>Отклоненных</th>
            <th>Просроченных</th>
        </tr>
        </thead>
        <tbody>
          <tr class="tablecell redtd">
            <td>{{ statistics.ordersCount(7) }}</td>
            <td>{{ statistics.ordersCount(7, constant('AppBundle\\Entity\\Order::STATUS_DONE')) }}</td>
            <td>{{ statistics.ordersCount(7, constant('AppBundle\\Entity\\Order::STATUS_REJECTED')) }}</td>
            <td>{{ statistics.ordersCount(7, constant('AppBundle\\Entity\\Order::STATUS_EXPIRED')) }}</td>
          </tr>
        </tbody>
    </table>
{% endblock %}
