{% extends '@App/layout/admin.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1">Системные настройки</h1>
    {{ form_start(form, {'attr': {'class': 'ui large form'~(form.vars.valid ? '' : ' error')}}) }}
    {% for field in form.children %}
        <h4 class="offers__subheader">
            {{ form_label(field) }}
        </h4>
        <div class="field">
            <div class="input__box">
                {{ form_widget(field, {'attr': {'class': 'input__text'}}) }}
            </div>
            {% if form_errors(field) %}
              <div class="message message--error">
                <div class="message__close fa fa-times-circle"></div>
                <p class="message__header">{{ form_errors(field) }}</p>
              </div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn--green" style="margin: 20px 0">Сохранить</button>
    {{ form_end(form) }}
{% endblock %}
