{% extends '@App/layout/security.html.twig' %}

{% block title %}Вход в панель управления{% endblock %}

{% block main_body %}
<section class="form__wrapper" style="background-color: #fff;">
  <div class="container">
    <div class="formbox" style="background-color: #fff;">
        <h2 class="formbox__heading" style="color: #D72932;">ВОЙТИ</h2>
        <form method="post" action="{{path('security_login_check')}}">
          <!-- чтобы не ломались стили форм -->
          <div style="visiblity: none; height: 0px; overflow: hidden;">
              <input type="text" autocomplete="new-password">
              <input type="password" autocomplete="new-password">
           </div>
           <!-- /чтобы не ломались стили форм -->
          <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
          <div class="control--red">
            <label class="control__textlabel" style="">
              <img src="{{ asset('bundles/app/images/mail--red.svg') }}" class="image">
            </label>
            <input  name="_username" placeholder="Email" type="text" class="control__text--red">
          </div>
          <div class="control--red">
            <label class="control__textlabel">
              <img src="{{ asset('bundles/app/images/lock--red.svg') }}" class="image">
            </label>
            <input name="_password" placeholder="Пароль" type="password" class="control__text--red">
          </div>
          <button type="submit" class="btn btn--inverse form__btn" style="width: 100%; border-color: #D72932;cursor: pointer;">ВОЙТИ</button>
          <a href="{{ path('google_auth_code') }}" class="btn btn--inverse form__btn" style="border-color: #D72932;">ВОЙТИ ЧЕРЕЗ GOOGLE</a>
          {% if error %}
              <div class="control__error">
                  {{ error.messageKey|trans(error.messageData, 'security') }}
              </div>
          {% endif %}
        </form>
      </div>
  </div>
</section>

    <!-- <h2 class="ui teal image header">
        <img src="{{ asset('bundles/app/images/logo.png') }}" class="image">
        <div class="content">Вход в панель управления</div>
    </h2>
    <form class="ui large form{% if error %} error{% endif %}" method="post" action="{{path('security_login_check')}}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="ui stacked segment left aligned">
            <div class="field">
                <div class="ui left icon input">
                    <i class="mail icon"></i>
                    <input type="text" name="_username" placeholder="Email">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="_password" placeholder="Пароль">
                </div>
            </div>
            <button type="submit" class="ui fluid large teal submit button">Войти</button><br>
            <a class="ui fluid large red button" href="{{ path('google_auth_code') }}">Войти через Google</a>
        </div>
        <div class="ui error message"></div>
        {% if error %}
            <div class="ui error message">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
    </form> -->
{% endblock %}
