{% extends '@App/layout/security.html.twig' %}

{% block title %}Регистраиця{% endblock %}

{% block main_body %}
<section class="form__wrapper" style="background-color: #fff;">
  <div class="container">
    <div class="formbox" style="background-color: #fff;">
        <h2 class="formbox__heading" style="color: #D72932;">ЗАРЕГИСТРИРОВАТЬСЯ</h2>
        {{ form_start(registration_form) }}
          <!-- чтобы не ломались стили форм -->
          <div style="visiblity: none; height: 0px; overflow: hidden;">
              <input type="text" autocomplete="new-password">
              <input type="password" autocomplete="new-password">
           </div>
           <!-- /чтобы не ломались стили форм -->


          <div class="control--red">
            <label class="control__textlabel" style="">
              <img src="{{ asset('bundles/app/images/mail--red.svg') }}" class="image">
            </label>
            {{ form_widget(registration_form.email, {'attr': {'placeholder': 'Email', 'class': 'control__text--red'}}) }}
            {{ form_errors(registration_form.email) }}
          </div>




          <div class="control--red">
            <label class="control__textlabel" style="">
              <img src="{{ asset('bundles/app/images/user.svg') }}" class="image">
            </label>
            {{ form_widget(registration_form.name, {'attr': {'placeholder': 'Имя пользователя', 'class': 'control__text--red'}}) }}
            {{ form_errors(registration_form.name) }}
          </div>






          <div class="control--red">
            <label class="control__textlabel" style="">
              <img src="{{ asset('bundles/app/images/lock--red.svg') }}" class="image">
            </label>
            {{ form_widget(registration_form.plainPassword.first, {'attr': {'placeholder': 'Пароль', 'class': 'control__text--red'}}) }}
            {{ form_errors(registration_form.plainPassword.first) }}
          </div>


              <div class="control--red">
                <label class="control__textlabel" style="">
                  <img src="{{ asset('bundles/app/images/lock--red.svg') }}" class="image">
                </label>
                {{ form_widget(registration_form.plainPassword.second, {'attr': {'placeholder': 'Повторите пароль', 'class': 'control__text--red'}}) }}
                {{ form_errors(registration_form.plainPassword.second) }}
              </div>

          {{ form_widget(registration_form.register, {'attr': {'class': 'btn btn--inverse form__btn', 'style': 'width: 100%; border-color: #D72932;cursor: pointer;text-transform: uppercase'}}) }}
        {{ form_end(registration_form) }}
      </div>
  </div>
</section>
    <!-- <h2 class="ui teal image header">
        <img src="{{ asset('bundles/app/images/logo.png') }}" class="image">
        <div class="content">Регистрация</div>
    </h2>
    {{ form_start(registration_form, {'attr': {'class': 'ui large form'~(registration_form.vars.valid ? '' : ' error')}}) }}
    <div class="ui stacked segment left aligned">
        <div class="field">
            <div class="ui left icon input">
                <i class="mail icon"></i>
                {{ form_widget(registration_form.email, {'attr': {'placeholder': 'Email'}}) }}
            </div>
            <div class="ui error message">{{ form_errors(registration_form.email) }}</div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <i class="user icon"></i>
                {{ form_widget(registration_form.name, {'attr': {'placeholder': 'Имя пользователя'}}) }}
            </div>
            <div class="ui error message">{{ form_errors(registration_form.name) }}</div>
        </div>


        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                {{ form_widget(registration_form.plainPassword.first, {'attr': {'placeholder': 'Пароль'}}) }}
            </div>
            <div class="ui error message">{{ form_errors(registration_form.plainPassword.first) }}</div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                {{ form_widget(registration_form.plainPassword.second, {'attr': {'placeholder': 'Повторите пароль'}}) }}
            </div>
            <div class="ui error message">{{ form_errors(registration_form.plainPassword.second) }}</div>
        </div>
        {{ form_widget(registration_form.register, {'attr': {'class': 'ui fluid large teal submit button'}}) }}
    </div>
    {{ form_end(registration_form) }} -->
{% endblock %}
