@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif Regular'), local('PT-Serif-Regular'), url('PT_Serif-Web-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif Bold'), local('PT-Serif-Bold'), url('PT_Serif-Web-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif Italic'), local('PT-Serif-Italic'), url('PT_Serif-Web-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: Italic;
}
@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif Bold Italic'), local('PT-Serif-Bold-Italic'), url('PT_Serif-Web-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: Italic;
}
