{{ form_start(form, {'attr': {'class': 'ui large form'~(form.vars.valid ? '' : ' error')}}) }}
<h4 class="offers__subheader">{{ form_label(form.header) }}</h4>
<div class="field">
    <div class="input__box">
        {{ form_widget(form.header, {'attr': {'class': 'input__text'}}) }}
    </div>
    {% if form_errors(form.header) %}
      <div class="message message--error">
        <div class="message__close fa fa-times-circle"></div>
        <p class="message__header">{{ form_errors(form.header) }}</p>
      </div>
    {% endif %}
</div>
<h4 class="offers__subheader">{{ form_label(form.text) }}</h4>
<div class="field">
    <div class="input__box">
        {{ form_widget(form.text, {'attr': {'class': 'input__text'}}) }}
    </div>
    {% if form_errors(form.text) %}
      <div class="message message--error">
        <div class="message__close fa fa-times-circle"></div>
        <p class="message__header">{{ form_errors(form.text) }}</p>
      </div>
    {% endif %}
</div>
<button type="submit" class="btn btn--green">{{ button_text }}</button>
{{ form_end(form) }}
