{% extends '@App/layout/admin.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1">Редактировать совет</h1>
    {{ include('@App/TipAdmin/_form.html.twig', {'button_text': 'Сохранить', 'form': form}) }}
{% endblock %}
