{% extends '@App/layout/admin.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1" style="margin-bottom: 20px">Советы</h1>
    <a class="btn btn--blue" href="{{ path('admin_tips_new') }}">Добавить новый совет</a>
    {% if tips|length %}
        <table class="ui table">
            <thead>
            <tr class="tableheader">
                <th>Заголовок</th>
                <th>Текст</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for tip in tips %}
                <tr class="tablecell">
                    <td>{{ tip.header|default('[Без заголовка]') }}</td>
                    <td>{{ tip.shortText }}</td>
                    <td>
                        <div class="ui small buttons">
                            <a class="btn btn--blue" href="{{ path('admin_tips_edit', {'id': tip.id}) }}">Редактировать</a>
                            <a class="btn btn--red" href="{{ path('admin_tips_delete', {'id': tip.id}) }}">Удалить</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="label">Пока нет ни одного совета.</p>
    {% endif %}
{% endblock %}
