{% extends '@App/layout/admin.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1">Журнал запросов выплат</h1>
    <h3 class="offers__subheader">Ожидают выплаты</h3>
    {% if unpaid|length %}
    <table class="ui table">
        <thead>
        <tr class="tableheader">
            <th>Номер</th>
            <th>Сумма</th>
            <th>Система</th>
            <th>Пользователь</th>
            <th>Дата</th>
        </tr>
        </thead>
        <tbody>
        {% for withdraw in unpaid %}
            <tr class="tablecell">
                <td>{{ withdraw.id }}</td>
                <td>{{ withdraw.amount }}</td>
                <td>{{ withdraw.user.name }}</td>
                <td>{{ withdraw.createdAt|date('d.m.Y H:i:s') }}</td>
                <td><a class="btn btn--blue" href="{{ path('admin_withdraw_view', {'id': withdraw.id}) }}">Посмотреть</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="label">Нет ожидающих запросв на выплату.</p>
    {% endif %}

    <h3 class="offers__subheader">Завершенные выплаты</h3>
    {% if pagination|length %}
    <table class="ui table">
        <thead>
        <tr class="tableheader">
            <th>Номер</th>
            <th>Сумма</th>
            <th>Пользователь</th>
            <th>Дата</th>
            <th>Статус</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for withdraw in pagination %}
            <tr class="tablecell">
                <td>{{ withdraw.id }}</td>
                <td>{{ withdraw.amount }}</td>
                <td>{{ withdraw.user.name }}</td>
                <td>{{ withdraw.createdAt|date('d.m.Y H:i:s') }}</td>

                {% if withdraw.status == constant('AppBundle\\Entity\\Withdraw::STATUS_PROCESSING') %}
                    <td><span class="label--yellow">Ожидает обработки</span></td>
                {% elseif withdraw.status == constant('AppBundle\\Entity\\Withdraw::STATUS_DONE') %}
                    <td><span class="label--green">Исполнен</span></td>
                {% elseif withdraw.status == constant('AppBundle\\Entity\\Withdraw::STATUS_REJECTED') %}
                    <td><span class="label--red">Отклонен</span></td>
                {% elseif withdraw.status == constant('AppBundle\\Entity\\Withdraw::STATUS_CANCELED') %}
                    <td><span class="label--red">Отменен</span></td>
                {% else %}
                    <td><span class="label--red">Ошибка</span></td>
                {% endif %}

                <td><a class="btn btn--blue" href="{{ path('admin_withdraw_view', {'id': withdraw.id}) }}">Посмотреть</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {{ include('@App/Pagination/_pagination.html.twig', {'controls': pagination_controls}) }}
    </div>
    {% else %}
        <p class="label">Нет завершенных выплат.</p>
    {% endif %}
{% endblock %}
