{% extends '@App/layout/admin.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1">Детали запроса на вывод средств номер {{ withdraw.id }}</h1>
    <p><b>Пользователь:</b> {{ withdraw.user.name }} ({{ withdraw.user.email }})</p>
    <p><b>Сумма:</b> {{ withdraw.amount }} рублей</p>
    <p><b>Сумма за вычетом комиссии:</b> {{ withdraw.paymentAmount }} рублей</p>
    <p><b>Назначение:</b>
        {% if withdraw.type == constant('AppBundle\\Entity\\Withdraw::TYPE_YANDEX') %}
            Yandex.Money
        {% elseif withdraw.type == constant('AppBundle\\Entity\\Withdraw::TYPE_WEBMONEY') %}
            WebMoney
        {% elseif withdraw.type == constant('AppBundle\\Entity\\Withdraw::TYPE_QIWI') %}
            QIWI
        {% elseif withdraw.type == constant('AppBundle\\Entity\\Withdraw::TYPE_CARD') %}
            Банковская карта
        {% else %}
            Неизвестен
        {% endif %}
    </p>
    <p><b>Номер кошелька/карты/телефона:</b> {{ withdraw.account }}</p>
    <p><b>Дата создания:</b> {{ withdraw.createdAt|date('d.m.Y H:i:s') }}</p>
    <p><b>Дата закрытия:</b> {% if withdraw.updatedAt is not null %}{{ withdraw.updatedAt|date('d.m.Y H:i:s') }}{% else %}Никогда{% endif %}</p>
    <p><b>Статус:</b>
        {% if withdraw.status == constant('AppBundle\\Entity\\Withdraw::STATUS_PROCESSING') %}
            Ожидает обработки
        {% elseif withdraw.status == constant('AppBundle\\Entity\\Withdraw::STATUS_DONE') %}
            Исполнен
        {% elseif withdraw.status == constant('AppBundle\\Entity\\Withdraw::STATUS_REJECTED') %}
            Отклонен
        {% elseif withdraw.status == constant('AppBundle\\Entity\\Withdraw::STATUS_CANCELED') %}
            Отменен
        {% else %}
            Ошибка
        {% endif %}
    </p>
    <div>
        {% if withdraw.status == constant('AppBundle\\Entity\\Deposit::STATUS_PROCESSING') %}
            <h3 class="offers__subheader">Обработка запроса</h3>
            <form class="ui form" action="{{ path('admin_withdraw_process', {'id': withdraw.id}) }}" method="post">
                <h4 class="offers__subheader">Комментарий (необязательно)</h4>
                <div class="field">
                    <div class="input__box">
                        <textarea id="process-comment" class="input__text" name="comment"></textarea>
                    </div>
                </div>
                <h4 class="offers__subheader">Обновление статуса</h4>
                <button style="margin-bottom: 20px" name="done" value="done" class="btn btn--green" type="submit">Исполнен</button>
                <button style="margin-bottom: 20px" name="rejected" value="rejected" class="btn btn--red" type="submit">Отклонен</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
