{% extends '@App/layout/panel.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1" style="margin-bottom: 20px;">Поддержка</h1>
    <a class="btn btn--blue" href="{{ path('support_conversation_new') }}">Новое обращение</a>
    <h3 class="offers__subheader">Мои обращения</h3>
    {% if pagination|length %}
        <table class="ui table">
            <thead>
            <tr class="tableheader">
                <th>Тема</th>
                <th>Дата обращения</th>
                <th>Дата последнего сообщения</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for conversation in pagination %}
                <tr class="tablecell">
                    <td><a style="text-decoration: none; color: #32CDC7" href="{{ path('support_conversation_view', {'conversation_id' : conversation.id}) }}">{{ conversation.subject }}</a></td>
                    <td>{{ conversation.createdAt|simple_date }}</td>
                    <td>{{ conversation.updatedAt|simple_date }}</td>
                    <td>
                        {% if conversation.status == constant('AppBundle\\Entity\\Conversation::STATUS_CLOSED') %}
                            <div class="ui yellow horizontal label">
                                <i class="checkmark circle icon"></i>
                                Закрыта
                            </div>
                        {% else %}
                            <div class="ui green horizontal label">
                                <i class="hourglass circle icon"></i>
                                Открыта
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            {{ include('@App/Pagination/_pagination.html.twig', {'controls': pagination_controls}) }}
        </div>
    {% else %}
        <p class="label">Вы еще не обращались в поддержку.</p>
    {% endif %}
{% endblock %}
