{% extends '@App/layout/panel.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1" style="margin-bottom: 20px;">Новое обращение</h1>
    {{ form_start(form, {'attr': {'class': ''~(form.vars.valid ? '' : ' error')}}) }}
    <div class="field">
        <div class="input__box">
            {{ form_widget(form.subject, {'attr': {'placeholder': 'Тема обращения', 'class': 'input__text'}}) }}
        </div>
        {% if form_errors(form.subject) %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ form_errors(form.subject) }}</p>
          </div>
        {% endif %}
    </div>

    <div class="field">
        <div class="input__box" style="padding-right: 0; padding-bottom: 0;">
            {{ form_widget(form.start_message.text, {'attr': {'placeholder': 'Текст обращения', 'class': 'input__text'}}) }}
        </div>
        {% if form_errors(form.start_message) %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ form_errors(form.start_message) }}</p>
          </div>
        {% endif %}
    </div>


    {{ form_widget(form.submit, {'attr': {'class': 'btn btn--green'}}) }}
    {{ form_end(form) }}
{% endblock %}
