{% extends '@App/layout/panel.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1" style="margin-bottom: 20px">Просмотр обращения "{{ conversation.subject }}"</h1>
    {% for message in conversation.messages %}
        <div class="ui segments" style="margin-bottom: 20px">
            <div class="table__item">
                <p class="label" style="color: {% if message.user.hasRole('ROLE_ADMIN') %}#D72932{% else %}#32CDC7{% endif %}">{{ message.user.name }}</p>
                <p class="label" style="margin-left: auto">{{ message.createdAt|simple_date }}</p>
            </div>
                <p class="label">{{ message.text|nl2br }}</p>
        </div>
    {% endfor %}
    {% if conversation.status == constant('AppBundle\\Entity\\Conversation::STATUS_CLOSED') %}
        <p class="message message--error">Эта заявка закрыта администратором. Если вопрос не решен, вы можете открыть ее снова, написав сообщение.</p>
    {% endif %}
    <h3 class="offers__subheader">Добавить сообщение</h3>
    {{ form_start(form, {'attr': {'class': 'ui large form'~(form.vars.valid ? '' : ' error')}}) }}
    <div class="field">
        <div class="input__box">
            {{ form_widget(form.text, {'attr': {'placeholder': 'Введите сообщение', 'class': 'input__text'}}) }}
        </div>
        {% if form_errors(form) %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ form_errors(form) }}</p>
          </div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn--green" style="margin-bottom: 20px">Отправить</button>
    {{ form_end(form) }}
{% endblock %}
