{% extends '@App/layout/panel.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1" style="margin-bottom: 20px">Мои запросы на вывод средств</h1>
    <a class="btn btn--blue" href="{{ path('withdraw_new') }}">Запросить выплату</a>
    {% if pagination|length %}
        <table class="ui table">
            <thead>
            <tr class="tableheader">
                <th>Номер</th>
                <th>Сумма</th>
                <th>Дата</th>
                <th>Статус</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="tablecell">
            {% for withdraw in pagination %}
                <tr>
                    <td>{{ withdraw.id }}</td>
                    <td>{{ withdraw.amount }}</td>
                    <td>{{ withdraw.createdAt|simple_date }}</td>

                    {% if withdraw.status == constant('AppBundle\\Entity\\Withdraw::STATUS_PROCESSING') %}
                        <td><span class="label--yellow">Ожидает обработки</span></td>
                    {% elseif withdraw.status == constant('AppBundle\\Entity\\Withdraw::STATUS_DONE') %}
                        <td>
                            <span class="label--green">Исполнен</span>
                            {% if withdraw.comment is not empty %}
                                <i class="fa fa-question-circle popup-enabled" style="text-decoration: underline dotted; cursor: pointer;" data-content="{{ withdraw.comment }}"></i>
                            {% endif %}
                        </td>
                    {% elseif withdraw.status == constant('AppBundle\\Entity\\Withdraw::STATUS_REJECTED') %}
                        <td>
                            <span class="label--red">Отклонен</span>
                            {% if withdraw.comment is not empty %}
                                <i class="fa fa-question-circle popup-enabled" style="cursor: pointer;" data-content="{{ withdraw.comment }}"></i>
                            {% endif %}
                        </td>
                    {% elseif withdraw.status == constant('AppBundle\\Entity\\Withdraw::STATUS_CANCELED') %}
                        <td>
                            <span class="label--red">Отменен</span>
                        </td>
                    {% else %}
                        <td>Ошибка</td>
                    {% endif %}

                    <td>
                        {% if withdraw.status == constant('AppBundle\\Entity\\Withdraw::STATUS_PROCESSING') %}
                            <a href="{{ path('withdraw_cancel', {'id': withdraw.id}) }}" class="btn btn--red">Отменить</a></td>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            {{ include('@App/Pagination/_pagination.html.twig', {'controls': pagination_controls}) }}
        </div>
        <script>
            $(function () {
                $('.popup-enabled').popup();
            })
        </script>
    {% else %}
        <p class="label">Вы еще не запрашивали вывод средств.</p>
    {% endif %}
{% endblock %}
