{% extends '@App/layout/panel.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1" style="margin-bottom: 20px">Запросить вывод средств</h1>
    <p style="margin-bottom: 20px">Средства поступят к вам в течении 48 часов после проверки. Но мы постараемся как можно быстрее.</p>
    {{ form_start(form, {'attr': {'id': 'deposit-form', 'class': ''~(form.vars.valid ? '' : ' error')}}) }}
    <h4 class="offers__h1" style="margin-bottom: 20px">{{ form_label(form.type) }}</h4>
    <div class="field">
        <div class="input__box">
            {{ form_widget(form.type, {'attr': {'class': 'input__text'}}) }}
        </div>
        {% if form_errors(form.type) %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ form_errors(form.type) }}</p>
          </div>
        {% endif %}
    </div>
    <h4 id="withdraw-account-label" class="offers__h1" style="margin-bottom: 20px">{{ form_label(form.account) }}</h4>
    <div class="field">
        <div class="input__box">
            {{ form_widget(form.account, {'attr': {'placeholder': '', 'class': 'input__text'}}) }}
        </div>
        {% if form_errors(form.account) %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ form_errors(form.account) }}</p>
          </div>
        {% endif %}
    </div>
    <h4 class="offers__h1" style="margin-bottom: 20px">{{ form_label(form.amount) }}</h4>
    <div class="field">
        <div class="input__box">
            {{ form_widget(form.amount, {'attr': {'placeholder': '₽', 'class': 'input__text', 'type': 'number'}}) }}
        </div>
        <p id="withdraw-amount-tip" style="margin-bottom: 20px;"></p>
        {% if form_errors(form.amount) %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ form_errors(form.amount) }}</p>
          </div>
        {% endif %}
    </div>
    <div id="ajax-error"></div>
    {{ form_widget(form.submit, {'attr': {'class': 'btn btn--green'}}) }}
    <div style="margin-bottom: 20px;"></div>
    {{ form_end(form) }}
    <script>
        $(function () {
            $('#withdraw_type').on('change', function () {
                if ($(this).val() == '{{ constant('AppBundle\\Entity\\Withdraw::TYPE_YANDEX') }}') {
                    $('#withdraw_account').val({{ app.user.yandexMoneyAccount }});
                    $('#withdraw-account-label').text('Номер кошелька Yandex.Money');
                } else if ($(this).val() == '{{ constant('AppBundle\\Entity\\Withdraw::TYPE_WEBMONEY') }}') {
                    $('#withdraw_account').val({{ app.user.webmoneyAccount }});
                    $('#withdraw-account-label').text('Номер R кошелька WebMoney');
                } else if ($(this).val() == '{{ constant('AppBundle\\Entity\\Withdraw::TYPE_QIWI') }}') {
                    $('#withdraw_account').val({{ app.user.qiwiAccount }});
                    $('#withdraw-account-label').text('Номер телефона');
                } else if ($(this).val() == '{{ constant('AppBundle\\Entity\\Withdraw::TYPE_CARD') }}') {
                    $('#withdraw_account').val('');
                    $('#withdraw-account-label').text('Номер карты');
                }
                updateCommissionTip();
            }).change();

            $('#withdraw_amount').on('keyup', function () {
                updateCommissionTip();
            });

            function updateCommissionTip() {
                var value = $('#withdraw_amount').val(),
                    commissions = $('#withdraw_type').data('commissions'),
                    commission = commissions[$('#withdraw_type').val()];
                if (value) {
                    $('#withdraw-amount-tip').text('Комиссия ' + commission + '%. Вы получите '+ value * (100 - commission) / 100 +' рублей.');
                }
            }
        })
    </script>
{% endblock %}
