{{ form_start(form, {'attr': {'class': ''}}) }}

{{ form_label(form.question) }}
<br><br>
<div class="field">
    <div class="input__box">
        {{ form_widget(form.question, {'attr': {'class': 'input__text'}}) }}
    </div>
</div><br>
{{ form_label(form.answer) }}
<br><br>
<div class="field">
    <div class="input__box">
        {{ form_widget(form.answer, {'attr': {'class': 'input__text'}}) }}
    </div>
</div><br>
{{ form_label(form.position) }}
<br><br>
<div class="field">
    <div class="input__box">
        {{ form_widget(form.position, {'attr': {'class': 'input__text'}}) }}
    </div>
</div><br>
{{ form_widget(form.submit, {'attr': {'class': 'btn btn--green', 'style': 'margin-bottom: 20px'}}) }}

{{ form_end(form) }}
