{% extends '@App/layout/admin.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1">Управление часто задаваемыми вопросами</h1>
    <a href="{{ path('admin_faq_new') }}" class="btn btn--green">Добавить вопрос</a>
    {% if faqs|length > 0 %}
        <table class="ui table">
            <thead>
                <tr class="tableheader">
                    <th>ID</th>
                    <th>Вопрос</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for faq in faqs %}
                    <tr class="tablecell">
                        <td>{{ faq.id }}</td>
                        <td>{{ faq.shortQuestion }}</td>
                        <td>
                            <a href="{{ path('admin_faq_edit', {'id': faq.id}) }}" class="btn btn--blue">Редактировать</a>
                            <a href="{{ path('admin_faq_delete', {'id': faq.id}) }}" class="btn btn--red">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Нет ни одного вопроса.</p>
    {% endif %}
{% endblock %}
