{% extends '@App/layout/admin.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1">Новый вопрос</h1>
    {{ include('@App/FaqAdmin/_form.html.twig') }}
{% endblock %}