@import url('../fonts/Play/play.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html,
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    color: #000;

    font-family: 'Play', sans-serif;
    font-size: 100%;
}

.container {
    margin: 0 auto;
}

.btn {
  display: block;

  padding: 18px;

  transition: background-color 0.3s ease;
  text-align: center;
  text-decoration: none;

  border: 1px solid rgba(255, 255, 255, 0);

  font-size: 16px;
  font-weight: bold;
}

.btn--primary {
  color: #D72932;
  border-color: #D72932;
  background-color: #fff;
}

.btn--inverse {
  color: #fff;
  border-color: #fff;
  background-color: #D72932;
}

.btn--primary:hover {
  color: #fff;
  background-color: #D72932;
}
.btn--inverse:hover {
  color: #D72932;
  background-color: #fff;
}
header {
  user-select: none;

  border-bottom: 1px solid #ccc;
}

.header {
  display: flex;
  flex-direction: row;

  padding: 10px 0;

  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: block;
  overflow: hidden;

  margin: 10px 0;
}

.header__login {
  display: flex;
  flex-direction: row;

  align-items: center;
  flex-wrap: wrap;
}

.header__login a {
  display: block;

  text-decoration: none;

  color: #808080;

  font-size: 14px;
  font-weight: normal;
}

.header__login a:hover {
  color: #D72932;
}

.header__login a:first-child {
  margin-right: 22px;
}

.header__login a:nth-child(2) {
}

.hero__wrapper {
  margin-bottom: 48px;

  border-bottom: 1px solid #ccc;
}

.hero {
  display: flex;
  flex-direction: row;

  min-height: 90vh;
  min-height: calc(100vh - 80px);

  justify-content: space-around;
  align-items: center;
  /*flex-wrap: wrap;*/
}

.hero__left {
  flex: 2 1 auto;
}

.hero__heading {
  margin-bottom: 48px;

  color: #000;

  font-size: 48px;
  font-weight: bold;
}

.hero__right {
  user-select: none;

  flex: 1 1 auto;
}
.hero__img {
  display: block;

  width: 90%;
  width: calc(100% - 32px);
  margin-left: auto;
}
.hero__btngroup {
  display: flex;
  flex-direction: row;

  max-width: 480px;

  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.hero__btngroup a {
  flex: 1 1 auto;
}

.hero__btngroup a {
  margin-right: 24px;
  margin-bottom: 12px;
}

.features__wrapper {
  padding-bottom: 48px;
}

.features {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.features__left {
  flex: 1 1 50%;
}

.features__right {
  flex: 1 1 50%;
}

.features__heading {
  margin: 48px 0;

  font-size: 36px;
  font-weight: bold;
  color: #808080;
}

.features__heading--left {
  padding-right: 15px;

  text-align: right;
}

.features__heading--right {
  padding-left: 15px;

  text-align: left;
}
.features__heading.red {
  color: #D72932;
}
.svg.red path, .svg.red polygon {
  fill: #D72932;
}
.features__items {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.features__item {
  margin: 0 15px 48px;
  padding: 28px 0;

  text-align: center;

  border: 1px solid #ccc;

  flex: 1 1;
  flex-basis: calc(50% - 30px);

}
@media (hover: hover) and (min-width: 1200px) {
  .features__left .features__item:hover::after {
    left: 50%;
    transform: translateX(-25%);
  }
  .features__right .features__item:hover::after {
    right: 50%;
    transform: translateX(25%);
  }
  .features__item:hover::after {
    content: attr(data-text);
    position: absolute;
    top: calc(50% - 34px);
    width: 200%;
    height: 20px;
    line-height: 20px;
    color: #D72932;
    font-weight: bold;
    background-color: #fff;
    z-index: 99999;
  }
}

.features__item > .pic {
  height: 80px;
}
.features__item > .text {
  margin-top: 28px;

  white-space: nowrap;
  text-transform: uppercase;

  color: #000;

  font-size: 16px;
  font-weight: bold;
}
.features__item > .pic > svg {
  display: block;

  width: auto;
  height: 100%;
  margin: 0 auto;
}

.form__wrapper {
  padding: 100px 0;

  color: #fff;
  background-color: #D72932;
}

.formbox {

}

.formbox__heading {
  margin-bottom: 48px;

  text-align: center;

  font-size: 36px;
  font-weight: bold;
}

.control {
  position: relative;

  max-width: 540px;
  margin: 0 auto 20px;
  padding: 20px;

  border: 1px solid #fff;
  background-color: #D72932;
}

.control--red {
  position: relative;

  max-width: 540px;
  margin: 0 auto 20px;
  padding: 20px;

  border: 1px solid #D72932;
  background-color: #fff;
}
.control--red ul li {
  margin-top: 12px;

  list-style-type: none;

  color: #D72932;
}
.control__error {
  max-width: 540px;
  margin: 0 auto 20px;
  padding: 20px;

  color: #D72932;
  border: 1px solid #D72932;
  background-color: #fff;

  font-weight: bold;
}

.control__textlabel {
  position: absolute;

  display: block;

  width: 20px;

  color: #fff;

  font-size: 16px;
  font-weight: normal;
}

.control__text {
  display: block;

  width: 90%;
  width: calc(100% - 36px);
  margin-left: 36px;
  padding: 0;

  color: #fff;
  border: none;
  background-color: #D72932;

  font-family: 'Play', sans-serif;
  font-size: 16px;
  font-weight: normal;

  -webkit-text-fill-color: white;
  -webkit-appearance: none;
  appearance: none;
}

.control__text--red {
  display: block;

  width: 90%;
  width: calc(100% - 36px);
  margin-left: 36px;
  padding: 0;

  color: #D72932;
  border: none;
  background-color: #fff;

  font-family: 'Play', sans-serif;
  font-size: 16px;
  font-weight: normal;

  -webkit-text-fill-color: #D72932;
  -webkit-appearance: none;
  appearance: none;
}

.form__btn {
  max-width: 540px;
  margin: 0 auto 20px;
}
.footer {
  padding: 20px 0;
  background-color: #808080;
  text-align: center;
}
.footer p {
  text-align: center;

  color: #fff;

  font-size: 14px;
  font-weight: normal;
}

.legalbox {
  position: fixed;
  z-index: 999;
  right: 10px;
  bottom: 10px;

  width: 284px;
  padding: 14px 20px 14px;

  opacity: 0.8;
  background-color: #000;
}

.legalbox p {
  color: #fff;
}

.legalbox p a {
  color: #fff;
}

#legal_close {
  position: absolute;
  top: 8px;
  right: 8px;

  text-decoration: none;

  color: #fff;
}

.clrred {
  color: #D72932;
}

.center {
  text-align: center;
}

.description {
  border-top: 1px solid #ccc;
}

.description__items {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.description__item {
  margin: 0 15px 48px;
  padding: 28px 14px;

  text-align: center;

  border: 1px solid #ccc;

  flex: 1 1;
  flex-basis: calc(25% - 30px);
}

.description__number {
  font-family: 'Play', sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #D72932;
  text-align: center;
  width: 64px;
  height: 64px;
  line-height: 60px;
  margin: 0 auto;
  border: 2px solid #D72932;
  border-radius: 40px;
}

.description__item .text {
  font-family: 'Play', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.prefooter {
  padding: 20px 0;
  border-top: 1px solid #ccc;
}

.prefooter__inner {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.prefooter__link {
  flex: 1 0.0000001;
  display: block;
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 14px;
  font-weight: regular;
  padding: 10px 0;
  color: #000;
  text-decoration: none;
}

.prefooter__link:hover {
  color: #D72932;
}

.prefooter__link:first-child {
  border-right: 1px solid #ccc;
}

.hidden {
  display: none !important;
}
.sheet_heading:first-child {
  margin-top: 48px;
}
.sheet_heading {
  text-align: center;
  margin: 0 auto 48px;
  padding: 0 14px;
  max-width: 768px;
  font-family: 'Play', sans-serif;
  color: #000;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  line-height; 1.5;
}

.sheet_pre {
  max-width: 768px;
  white-space: pre-wrap;
  margin: 0 auto 48px;
  padding: 0 14px;
  font-family: 'Play', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

/*




















*/
