@import url('landing.css');

@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0 5px;
  }
}

@media (min-width: 481px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 90%;
    padding: 0 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 80%
  }
}

@media (max-width: 960px) {
  .hero__right {
    margin-top: 36px;

    align-self: flex-start;
  }
  .hero__img {
    margin: 0 auto 24px;
  }
}
@media (max-width: 768px) {
  .hero {
    flex-wrap: wrap;
  }
  .hero__img {
    width: 60%;
    margin: 0 auto 24px;
  }
  .hero__left {
    text-align: center;
  }
  .hero__btngroup {
    margin: 0 auto;

    justify-content: center;
  }
  .sheet_heading {
    font-size: 20px;
  }
  .hero__btngroup a {
    margin: 0 12px 12px;
  }
  .hero__heading {
    margin-top: 24px;
    margin-bottom: 14px;

    font-size: 32px;
  }
  .description__item {
    flex-basis: calc(50% - 30px);
  }
}
@media (max-width: 589px) {
  .features__heading {
    padding: 0 15px;

    text-align: center;
  }
}
@media (max-width: 540px) {
  .hero__heading {
    margin-top: 24px;
    margin-bottom: 14px;

    font-size: 24px;
  }
  .hero__img {
    width: 60%;
    margin: 0 auto 24px;

  }
  .form__wrapper {
    padding: 48px 0 24px;
  }
  .formbox__heading {
    font-size: 24px;
  }
  .features__heading {
    margin: 16px 0;

    font-size: 24px;
  }
  .features__item {margin-bottom: 20px;
    padding-right: 12px;
    padding-left: 12px;
  }
  .features__item > .pic {
    height: 40px;
  }
  .features__item > .text {
    margin-top: 16px;

    font-size: 13px;
  }
  .footer {
    padding: 10px 0;

    text-align: center;
  }
  
  .prefooter__inner {
    display: block;
  }
}

@media (max-width: 375px) {
  .features {
    display: block;
  }
  .features__items, .description__items {
    display: block;
  }
  .description__items {
    
  }
}