.user-video-select, .offer-select {
    cursor: pointer;
}
.offer-form-selected {
  border: 1px solid blue !important;
}

* {
  /*font-family: Icons, 'PT Serif', sans-serif !important;*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  color: #808080;
  overflow-x: hidden;
}

.container {
    margin: 0 auto;
    /*position: relative;*/
}

.padded {
  padding: 20px 0;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 14px;

  transition: background-color 0.3s ease;
  text-align: center;
  text-decoration: none;

  border: 1px solid rgba(255, 255, 255, 0);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}

.btn--blue {
  color: #32CDC7;
  border-color: #32CDC7;
  background-color: #fff;
}
.btn--blue:hover, .btn--blue:focus {
  color: #fff;
  background-color: #32CDC7;
  outline: none;
}

.btn--green {
  color: #55D090;
  border-color: #55D090;
  background-color: #fff;
}
.btn--green:hover, .btn--green:focus {
  color: #fff;
  background-color: #55D090;
  outline: none;
}

.btn--red {
  color: #D72932;
  border-color: #D72932;
  background-color: #fff;
}
.btn--red:hover, .btn--red:focus {
  color: #fff;
  background-color: #D72932;
  outline: none;
}

.message {
  padding: 20px;
  color: #fff;
  position: relative;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.message ul, .message ol {
  list-style-type: none;
}
.message--success {
  background-color: #55D090;
}
.message--error {
  background-color: #D72932;
}
.message__close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.message__close:hover {
  color: #ccc;
}

.message__header {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}


.header {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}

.header__inner {
  display: flex;
  flex-direction: row;
}
.header__inner.mobile {
  display: block;
  padding-left: 20px;
}
.header__logo {
  flex: 0 0.00000001 140px;
  margin-right: 124px;
  display: flex;
  align-items: center;
}
.header__logo.mobile {
  margin-bottom: 12px;
}
.header__logo img {
  width: 100%;
  display: block;
}

.header__controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 0.00000001 auto;
}
.header__controls.mobile {
  display: block;
}
.controls__heading {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.controls__heading.mobile {
  margin-bottom: 12px;
}
.controls__controls {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.controls__controls.mobile {
  display: block;
}
.controls__controls .username {
  margin-right: 20px;
}
.controls__controls .username.mobile {
  margin-bottom: 12px;
  font-size: 24px;
}
.controls__controls .logout {
  margin-right: 20px;
  color: #808080;
  text-decoration: none;
}
.controls__controls .logout.mobile {
  display: block;
  margin-top: 12px;
}
.controls__controls .logout:hover {
  color: #D72932;
  font-weight: bold;
}
.controls__controls .balance {
  margin-right: 8px;
}
.controls__controls .balance.mobile {
  display: inline-block;
  margin-right: 0;
  vertical-align: top;
  line-height: 36px;
  font-size: 24px;
}
.controls__controls .newbalance.mobile {
  display: inline-block;
  padding: 12px;
  background-color: #eee;
}
.controls__controls .newbalance {
  overflow: hidden;
}
.controls__controls .newbalance img {
  display: block;
  width: 100%;
}
.controls__controls .newbalance img:nth-child(2) {
  display: none;
}


.controls__controls .newbalance:hover > img:nth-child(1) {
  display: none;
}

.controls__controls .newbalance:hover > img:nth-child(2) {
  display: block;
}

#sidebarToggle {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 39px;
  height: 25px;
  padding: 4px;
}

.toggle-dash {
  width: 31px;
  height: 3px;
  background-color: #ccc;
  margin-bottom: 4px;
  border-radius: 4px;
  transition: all .25s ease-in-out;
}
.toggle-dash.active:first-of-type {
  transform: translateY(7px) rotate(45deg);
  margin-bottom: 0;
}

.toggle-dash.active:nth-of-type(2) {
  transform: translateX(400%);
  margin-bottom: 0;
}

.toggle-dash.active:last-of-type {
  transform: translateY(1px) rotate(-45deg);
  margin-bottom: 0;
}


.toggle-dash:last-of-type {
  margin-bottom: 0;
}

.account-dropdown img {
  width: 32px;
  border-radius: 16px;
  margin-right: 10px;
}

.account-dropdown {
  /*margin-left: 16px;*/
  display: flex !important;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.appgrid {
  display: flex;
  flex-direction: row;
}

.mainview {
  flex: 1 0.00000001 calc(100% - 274px);
  font-family: 'PT Serif', serif;
  min-height: 100vh;
  min-height: calc(100vh - 180px);
  overflow-x: hidden;
  transition: opacity .2s ease;
}

.sidebar__mobile {
  background-color: #fff;
}

.sidebar {
  display: flex;
  flex: 1 0.00000001 220px;
  flex-direction: column;
  width: 220px;
  margin-right: 30px;
  font-family: 'PT Serif', sans-serif;
  background-color: #fff;
  z-index: 999;
}

.sidebar__box {
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 16px 0 8px;
  display: flex;
  flex-direction: column;
  /*margin-bottom: 16px;*/
}
.sidebar__box:last-of-type {
  border-bottom: 1px solid #ccc;
}

.bb-gray {
  border-bottom: 1px solid #ccc;
}
.sidebar__box .box__heading {
  font-size: 16px;
  font-weight: 700;
  margin-left: 16px;
  margin-bottom: 8px;
}

.sidebar__box .box__item {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  line-height: 1;
  color: #808080;
  padding: 8px 16px;
}
.sidebar__box .box__item:hover {
  color: #D72932;
  background-color: #f2f2f2;
}
.sidebar__box .box__item img {
  margin-right: 16px;
  width: 14px;
}
.advises {
  position: relative;
}

.advises__item {
  margin-left: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 90%;
  width: calc(100% - 40px);
  /* padding-right: 20px; */
}

.advises__item .item__heading {
  font-weight: 500;
  margin-bottom: 6px;
}

.advises__item .item__body {
  font-weight: 300;
}


.advises .switch {
  position: absolute;
  top: 0;
  right: 20px;
}

.advises .switch__item:hover {
  opacity: .7;
}

.switchleft {
  margin-right: 8px;
}

.offers__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.offers__h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 20px;
}
.offers__buttons .change-display {
  margin-left: 10px;
  opacity: .6;
}
.offers__buttons .change-display:hover {
  opacity: 1;
}

.offers__subheader {
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
  padding-top: 16px;
  padding-bottom: 18px;
}
.table__item:first-of-type {
  border-top: 1px solid #ccc;
}
.table__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.table__item .item__image {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 12px;
}
.table__item .item__image img {
  display: block;
  width: 100%;
}
.user-stats-popup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.user-stats-popup i {
  margin-right: 10px;
}
span.user-stats-popup img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
}
.table__item .item__channelname {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  max-width: 140px;
  overflow: hidden;
}

.table__item .item__statuslbl {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.table__item .item__statuslbl i {
  font-size: 15px;
  margin-left: 10px;
}
.item__link {
  color: #32CDC7;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.item__link:not(:hover) {
  text-decoration: none;
}

.item__time {
  color: #000;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}



.offers__cards i {
  margin-left: 7px;
}
.offers__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}
.offers__card {
  border: 1px solid #ccc;
  padding: 0 20px;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  margin-left: 0;
  flex: 0 0.00000001 30%;
}
.offers__card .user-stats-popup {
  border-bottom: 1px solid #ccc;
}
.card__ava {
  width: 32px;
  height: 32px;
  margin: 10px 10px 10px 0;
  border-radius: 16px;
}
.card__name {
  max-width: 120px;
  overflow: hidden;
}

.card__time {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 14px 0;
}
.card__link {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 20px 0;
  display: block;
  color: #32CDC7;
}
.card__link:not(:hover) {
  text-decoration: none;
}

.video__title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.video__preview {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  /*max-width: 160px;*/
  margin: 0 auto 20px;
}
.video__previewpic {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #000;
  margin: 20px 0;
}
.video__previewpic img {
  display: block;
  width: 100%;
}
.video__title  {
  align-self: flex-start;
}

.input__box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #ccc;
  padding: 14px;
  margin-bottom: 18px;
}
.input__box img {
  margin-right: 12px;
  user-select: none;
  pointer-events: none;
  height: 28px;
  width: auto;
}
.input__box:focus-within {
  border-color: blue;
}

.input__text {
  display: block;
  width: 100%;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border: none;
  outline: none;
}
.label {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  padding: 12px 0;
}
.label--red {
  color: #D72932;
}

.label--green {
  color: #55D090;
}

.label--yellow {
  color: #F1C40F;
}

.text--redspan {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin-top: 12px;
}
.text--redspan:last-of-type {
  margin-bottom: 20px;
}
.text--redspan span, .text--redspan a  {
  color: #D72932;
}

.tableheader, .tableheader th {
  font-family: 'PT Serif', serif !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #808080 !important;
  border: none !important;
  border-radius: 0 !important;
  background-color: #f2f2f2 !important;
}

.tablecell, .tablecell td {
  color: rgba(0, 0, 0, , .87);
  font-family: 'Roboto', sans-serif !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  border: none !important;
  border-radius: 0 !important;
}

/*










*/

.ui.table {
  font-family: "Roboto", sans-serif !important
}


.footer {
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

.footer p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}

.footer_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer_link {
  flex: 1 0.0000001;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #D72932;
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

.mobile {
  display: none;
}

.graybg {
  /*background-color: rgba(240, 240, 240, .4);*/
  background-color: #F2F2F2;
}

.psides16 {
  padding-left: 16px;
  padding-right: 16px;
}

.pb20 {
  padding-bottom: 20px;
}

.rl-14 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
}

.redtd {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #D72932;
}

.ui.table {
  border: none;
  margin-top: 10px;
  margin-bottom: 40px;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
}

.ui.selection.dropdown {
  border-radius: 0 !important;
  font-family: 'Roboto', sans-serif;
}
.ui.selection.dropdown:focus, .ui.selection.active.dropdown .menu {
  border-color: blue !important;
  border-radius: 0 !important;
}
.field__group {
  display: flex;
  align-items: center;
}

.field__group .input__box {
  flex: 1 1 auto;
  margin-right: 10px;
}

.sheet_heading:first-child {
  margin-top: 24px;
}
.sheet_heading {
  text-align: left;
  margin: 0 0 24px;
  padding: 0 14px;
  font-family: 'PT Serif', serif;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  line-height; 1.5;
}

.sheet_pre {
  white-space: pre-wrap;
  margin: 0 auto 24px;
  padding: 0 14px;
  font-family: 'PT Serif', serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

/*














*/
