@import url('panel__style.css');
@import url('../fonts/PT_Serif/PT_Serif.css');
@import url('../fonts/Roboto/Roboto.css');
@import url('font-awesome.css');

@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0 5px;
  }
}

@media (min-width: 481px) {
  .container {
    width: 100%;
    padding: 0 5px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 90%;
    padding: 0 5px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 80%
  }
}


@media (max-width: 1024px) {
  .header {
    padding: 20px 0;
  }
  .account-dropdown {
    margin-left: 0;
    margin-bottom: 12px;
  }
  .mainview {
    flex: 1 0.00000001 100%;
  }
  .sidebar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0px;
    background-color: #fff;
    transform: translateX(-999px);
    flex-direction: column;
    width: 254px;
    margin-right: 20px;
    font-family: 'PT Serif', sans-serif;
    transition: transform .3s ease-out;
    box-shadow: 2px 0px 3px 0px rgba(128,128,128,0.75);
  }
  .sidebar__mobile {
    padding: 12px;
    border-right: 1px solid #ccc;
  }
  .sidebar.active {
    transition: transform .3s ease-in;
    transform: translateX(0);
  }
  .footer_links {
    display: block;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}

@media (max-width: 700px) {
  .offers__card {
    flex: 1 0.00000001 48%;
  }
  .sheet_heading {
    font-size: 20px;
  }
  .item__link, .item__time {
    padding-top: 8px;
  }
}

textarea {
	min-height: 100px;
	resize: vertical;
}