<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="{% block description %}{% endblock %}">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">

    {% block javascripts %}
    <script src="{{ asset('bundles/app/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/semantic.min.js') }}"></script>
    {% endblock %}
</head>

<body>
  <header class="header" style="padding: 20px 0">
    <div class="container">
      <div class="header__inner desktop">
        <a href="/admin" class="header__logo"><img src="{{ asset('bundles/app/images/logo.svg') }}" alt="advertpp"></a>
        <div class="header__controls">
          <p class="controls__heading"></p>
          <div class="controls__controls">
            <p class="username">{{ app.user.name }}</p>
            <a class="logout" href="{{ path('security_logout') }}">ВЫХОД</a>
          </div>
        </div>
      </div>
      <div id="sidebarToggle" class="mobile">
        <div class="toggle-dash"></div>
        <div class="toggle-dash"></div>
        <div class="toggle-dash"></div>
      </div>
    </div>
  </header>
<div class="container appgrid">
        <aside class="sidebar">
          <div class="sidebar__mobile">
            <div class="sidebar__box mobile">
              <div class="header__inner mobile">
                <a href="/admin" class="header__logo mobile"><img src="{{ asset('bundles/app/images/logo.svg') }}" alt="advertpp"></a>
                <div class="header__controls mobile">
                  <p class="controls__heading mobile"></p>
                  <div class="controls__controls mobile">
                    <p class="username mobile">{{ app.user.name }}</p>
                    <a class="logout mobile" href="{{ path('security_logout') }}">ВЫХОД</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="sidebar__box bb-gray">
              <p class="box__heading">Заявки</p>
              <a href="{{ path('admin_index') }}" class="box__item"><img src="{{ asset('bundles/app/images/home.svg') }}" alt=""><p>Главная страница</p></a>
              <a href="{{ path('admin_users_index') }}" class="box__item"><img src="{{ asset('bundles/app/images/user.svg') }}" alt=""><p>Пользователи</p></a>
              <a href="{{ path('admin_settings') }}" class="box__item"><img src="{{ asset('bundles/app/images/settings.svg') }}" alt=""><p>Системные настройки</p></a>
              <a href="{{ path('admin_deposits') }}" class="box__item"><img src="{{ asset('bundles/app/images/in.svg') }}" alt=""><p>Пополнения</p></a>
              <a href="{{ path('admin_withdraws') }}" class="box__item"><img src="{{ asset('bundles/app/images/out.svg') }}" alt=""><p>Выплаты</p></a>
              <a href="{{ path('admin_conversations') }}" class="box__item"><img src="{{ asset('bundles/app/images/mess.svg') }}" alt=""><p>Запросы в поддержку</p></a>
              <a href="{{ path('admin_tips') }}" class="box__item"><img src="{{ asset('bundles/app/images/hint.svg') }}" alt=""><p>Советы</p></a>
              <a href="{{ path('admin_faq') }}" class="box__item"><img src="{{ asset('bundles/app/images/faq.svg') }}" alt=""><p>Часто задаваемые вопросы</p></a>
            </div>
            <footer class="footer mobile">
              <p>AdvertPP ® 2017</p>
            </footer>
          </div>
        </aside>


        <main class="mainview">
          {% for flashMessage in app.session.flashbag.get('error') %}
              <div class="message message--error">
                <div class="message__close fa fa-times-circle"></div>
                <p class="message__header">{{ flashMessage }}</p>
              </div>
          {% endfor %}
          {% for flashMessage in app.session.flashbag.get('success') %}
              <div class="message message--success">
                  <div class="message__close fa fa-times-circle"></div>
                  <p class="message__header">{{ flashMessage }}</p>
              </div>
          {% endfor %}
          {% block main_body %}
          {% endblock %}
        </main>
</div>
<script>
    // Возможность закрыть flash сообщения
    var mscls = document.querySelectorAll('.message__close')
    Array.prototype.forEach.call(mscls, function(el, idx) {
      el.addEventListener('click', function(e) {
        this.parentNode.remove()
      })
      setTimeout(function () {
        $(el).parent().fadeOut();
      }, 6000);
    })

    // toggle
    var dashes = document.querySelectorAll('.toggle-dash')
    var toggle = document.querySelector('#sidebarToggle')
    var sidebar = document.querySelector('.sidebar')
    toggle.addEventListener('click', function(e) {
      Array.prototype.forEach.call(dashes, function(el, idx) {
        el.classList.toggle('active')
      })
      sidebar.classList.toggle('active')
    })
    document.querySelector('body').addEventListener('click', function() {
      sidebar.classList.remove('active')
      Array.prototype.forEach.call(dashes, function(el, idx) {
        el.classList.remove('active')
      })
    })
    toggle.addEventListener('click', function(e) {
      e.stopPropagation()
    })
    sidebar.addEventListener('click', function(e) {
      e.stopPropagation()
    })
</script>
</body>

</html>
