<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{% endblock %}">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/semantic.min.css') }}">

    {% block javascripts %}
    <script src="{{ asset('bundles/app/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/semantic.min.js') }}"></script>
    {% endblock %}
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="header__inner desktop">
        <a href="{{ path('like_index') }}" class="header__logo"><img src="{{ asset('bundles/app/images/logo.svg') }}" alt="advertpp"></a>
        <div class="header__controls">
          <p class="controls__heading"></p>
          <div>{{ render(controller('AppBundle:Panel:accountSwitcher')) }}</div>
          <div class="controls__controls">
            <p class="username">{{ app.user.name }}</p>
            <a class="logout" href="{{ path('security_logout') }}">ВЫХОД</a>
            <p class="balance">{{ app.user.balance.amount }} <span>₽</span></p>
            <a class="newbalance" href="{{ path('deposit_new') }}">
              <img src="{{ asset('bundles/app/images/in-small.svg') }}" alt="">
              <img src="{{ asset('bundles/app/images/in-small_hover.svg') }}" alt="">
            </a>
          </div>
        </div>
      </div>
      <div id="sidebarToggle" class="mobile">
        <div class="toggle-dash"></div>
        <div class="toggle-dash"></div>
        <div class="toggle-dash"></div>
      </div>
    </div>
  </header>
  {% if settings.get('admin_message_show') == 1 %}
      <div id="admin-message" class="message message--success" style="display: none;">
        <div class="message__close fa fa-times-circle"></div>
        <p class="message__header" style="text-align: center">{{ settings.get('admin_message') }}</p>
      </div>
      <script>
          $(function () {
              if (!Date.now) {
                  Date.now = function() { return new Date().getTime(); }
              }
              var am = parseInt(localStorage.getItem('admin-message'), 10),
                  now = Math.floor(Date.now() / 1000);
              if (am == null || now > am + 86400) {
                  $('#admin-message').show();
                  localStorage.setItem('admin-message', Math.floor(Date.now() / 1000));
              }
          })
      </script>
  {% endif %}
  <div class="container appgrid">
    <aside class="sidebar">
      <div class="sidebar__mobile">
        <div class="sidebar__box mobile">
          <div class="header__inner mobile">
            <a href="{{ path('like_index') }}" class="header__logo mobile"><img src="{{ asset('bundles/app/images/logo.svg') }}" alt="advertpp"></a>
            <div class="header__controls mobile">
              <p class="controls__heading mobile"></p>
              <div>{{ render(controller('AppBundle:Panel:accountSwitcher')) }}</div>
              <div class="controls__controls mobile">
                <p class="username mobile">{{ app.user.name }}</p>
                <p class="balance mobile">{{ app.user.balance.amount }} <span>₽</span></p>
                <a class="newbalance mobile" href="{{ path('deposit_new') }}">
                  <img src="{{ asset('bundles/app/images/in-small.svg') }}" alt="">
                  <img src="{{ asset('bundles/app/images/in-small_hover.svg') }}" alt="">
                </a>
                <a class="logout mobile" href="{{ path('security_logout') }}">ВЫХОД</a>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar__box">
          <p class="box__heading">Заявки</p>
          <a href="{{ path('like_index') }}" class="box__item"><img src="{{ asset('bundles/app/images/home.svg') }}" alt=""><p>Главная</p></a>
          <a href="{{ path('like_buy') }}" class="box__item"><img src="{{ asset('bundles/app/images/buy.svg') }}" alt=""><p>Купить</p></a>
          <a href="{{ path('like_sell') }}" class="box__item"><img src="{{ asset('bundles/app/images/sell.svg') }}" alt=""><p>Продать</p></a>
          <a href="{{ path('like_history') }}" class="box__item"><img src="{{ asset('bundles/app/images/history.svg') }}" alt=""><p>История заявок</p></a>
        </div>
        <div class="sidebar__box">
          <p class="box__heading">Кабинет</p>
          <a href="{{ path('user_profile') }}" class="box__item"><img src="{{ asset('bundles/app/images/settings.svg') }}" alt=""><p>Настройки</p></a>
        </div>
        <div class="sidebar__box">
          <p class="box__heading">Баланс</p>
          <a href="{{ path('deposit_history') }}" class="box__item"><img src="{{ asset('bundles/app/images/in.svg') }}" alt=""><p>Пополнение баланса</p></a>
          <a href="{{ path('withdraw_history') }}" class="box__item"><img src="{{ asset('bundles/app/images/out.svg') }}" alt=""><p>Вывод средств</p></a>
          <a href="{{ path('transaction_history') }}" class="box__item"><img src="{{ asset('bundles/app/images/history.svg') }}" alt=""><p>История транзакций</p></a>
        </div>
        <div class="sidebar__box">
          <p class="box__heading">Поддержка</p>
          <a href="{{ path('support_faq') }}" class="box__item"><img src="{{ asset('bundles/app/images/faq.svg') }}" alt=""><p>Часто задаваемые вопросы</p></a>
          <a href="{{ path('support_conversations') }}" class="box__item"><img src="{{ asset('bundles/app/images/mess.svg') }}" alt=""><p>Мои обращения</p></a>
          <a href="{{ path('support_conversation_new') }}" class="box__item"><img src="{{ asset('bundles/app/images/add-mess.svg') }}" alt=""><p>Новое обращение</p></a>
        </div>
        {{ render(controller('AppBundle:Panel:tips')) }}
        <footer class="footer mobile">
          <div class="footer_links">
            <a href="{{ path('panel_oferta') }}" class="footer_link">Публичная оферта</a>
            <a href="" class="footer_link">О проекте</a>
            <a href="" class="footer_link">Правила</a>
            <a href="" class="footer_link">Политика конфиденциальности</a>
          </div>
          <p>AdvertPP ® 2017</p>
        </footer>
      </div>
    </aside>
    <main class="mainview">
      {% for flashMessage in app.session.flashbag.get('error') %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ flashMessage }}</p>
          </div>
      {% endfor %}
      {% for flashMessage in app.session.flashbag.get('success') %}
          <div class="message message--success">
              <div class="message__close fa fa-times-circle"></div>
              <p class="message__header">{{ flashMessage }}</p>
          </div>
      {% endfor %}
      {% block main_body %}
      {% endblock %}
    </main>
  </div>
  <div class="container desktop">
    <footer class="footer">
      <div class="footer_links">
        <a href="{{ path('panel_oferta') }}" class="footer_link">Публичная оферта</a>
        <a href="{{ path('rules') }}" class="footer_link">Правила</a>
        <a href="{{ path('privacy_policy') }}" class="footer_link">Политика конфиденциальности</a>
      </div>
      <p>AdvertPP ® 2017</p>
    </footer>
  </div>

<script>
    // Возможность закрыть flash сообщения
    var mscls = document.querySelectorAll('.message__close');
    Array.prototype.forEach.call(mscls, function(el, idx) {
      el.addEventListener('click', function(e) {
        this.parentNode.remove()
      });
      setTimeout(function () {
        $(el).parent().fadeOut();
      }, 6000);
    });


    $('.ui.accordion').accordion();

    
    // toggle
    var dashes = document.querySelectorAll('.toggle-dash')
    var toggle = document.querySelector('#sidebarToggle')
    var sidebar = document.querySelector('.sidebar')
    toggle.addEventListener('click', function(e) {
      Array.prototype.forEach.call(dashes, function(el, idx) {
        el.classList.toggle('active')
      })
      document.querySelector('.sidebar').classList.toggle('active')
    })
    document.querySelector('body').addEventListener('click', function (e) {
      sidebar.classList.remove('active')
      Array.prototype.forEach.call(dashes, function (el, idx) {
        el.classList.remove('active')
      })
    })
    toggle.addEventListener('click', function (e) {
      e.stopPropagation()
    })
    sidebar.addEventListener('click', function (e) {
      e.stopPropagation()
    })
</script>

</body>

</html>
