<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>AdvertPP - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/semantic.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/landing__media.css') }}">

</head>
<body>

<div class="" style="height: 100%;">
    <div class="">
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">{{ flashMessage }}</div>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="ui positive message">
                <i class="close icon"></i>
                <div class="header">{{ flashMessage }}</div>
            </div>
        {% endfor %}
        <script>
            // Возможность закрыть flash сообщения
            $(function () {
                $('.message .close').on('click', function() {
                    $(this).closest('.message').transition('fade');
                })
            })
        </script>
        {% block main_body %}
        {% endblock %}
    </div>
</div>
<script src="{{ asset('bundles/app/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/semantic.min.js') }}"></script>
</body>
</html>
