{% extends '@App/layout/panel.html.twig' %}

{% block main_body %}
<div class="" style="min-height: 100vh; display: flex; flex-direction: row; justify-content: center; align-items: center">
  <h1 class="offers__h1">Авторизация</h1>
  <p class="text--redspan">Не удалось войти в панель управления с указанным акаунтом Google. Для входа через Google необходимо сначала <a href="{{ path('security_registration') }}">зарегистрироваться</a>.</p>
</div>
{% endblock %}
