{% if google_accounts|length > 1 %}
    {% spaceless %}
    <div id="" class="account-dropdown text ui large image dropdown">
        <img src="{{ current.channelImages['default'] }}">
        <p style="font-size: 16px">{{ current.shortChannelName }}</p>
        <i class="dropdown icon"></i>
        <div class="menu">
            {% for google_account in google_accounts %}
                <div class="item" data-url="{{ path('panel_switch_account', {'account_id': google_account.id}) }}">
                    {#<img src="{{ google_account.channelImages['default'] }}">#}
                    <p style="font-size: 16px">{{ google_account.channelName }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endspaceless %}
    <script>
        $('.account-dropdown').dropdown({
            onChange: function (value, text, $choice) {
                window.location = $choice.data('url');
            }
        });
    </script>
{% elseif google_accounts|length == 1 %}
    <div id="" class="account-dropdown text ui large image">
        <img src="{{ current.channelImages['default'] }}">
        <p style="font-size: 16px">{{ current.shortChannelName }}</p>
    </div>
{% endif %}
