<div class="sidebar__box">
    <div class="advises">
        {% if tips|length > 1 %}
            <div class="switch">
                <a href="#" class="switchleft switch__item"><img src="{{ asset('bundles/app/images/to-left.svg') }}" alt=""></a>
                <a href="#" class="switchright switch__item"><img src="{{ asset('bundles/app/images/to-right.svg') }}" alt=""></a>
            </div>
            <script src="{{ asset('bundles/app/js/simpleslider.min.js') }}"></script>
            <script>
                $(function () {
                    $('#slider').css('height', Math.max.apply(null, $(".advises__item").map(function () {
                        return $(this).height();
                    }).get()));
                    var imgSlider = simpleslider.getSlider({
                        delay: 12,
                        prop: 'opacity',
                        unit: '',
                        init: 0,
                        show: 1,
                        end: 0
                    });
                    $('.switchleft').on('click', function (e) {
                        imgSlider.prev();
                        e.preventDefault();
                    });
                    $('.switchright').on('click', function (e) {
                        imgSlider.next();
                        e.preventDefault();
                    });
                })
            </script>
        {% endif %}
        <p class="box__heading">Советы</p>
        <div id="slider" data-simple-slider>
            {% for tip in tips %}
                <div class="advises__item">
                    {% if tip.header is not null %}
                        <p class="item__heading">{{ tip.header }}</p>
                    {% endif %}
                    <p class="item__body">{{ tip.text }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
