{% extends '@App/layout/panel.html.twig' %}

{% block main_body %}
    <h1 class="offers__h1">Панель управления</h1>
    <div class="ui segments">
        <div class="ui segment">
            <h3 class="ui center aligned header">
                <i class="money icon"></i>
                <div class="content">Финансы</div>
            </h3>
        </div>
        <div class="ui segment">
            <p><b>Баланс</b>: {{ app.user.balance.amount }} ₽</p>
            <h4 class="offers__subheader">Последние транзакции:</h4>
            {% if transactions|length %}
                <table class="ui table">
                    {% for transaction in transactions %}
                        <tr class="tablecell">
                            <td>{{ transaction.amount }}</td>
                            <td>{{ transaction.createdAt|date('d.m.Y H:i:s') }}</td>
                            <td>{{ transaction.comment }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p class="label">Транзакций пока нет.</p>
            {% endif %}
        </div>
    </div>
    <div class="ui segments">
        <div class="ui segment">
            <h3 class="ui center aligned header">
                <i class="arrow circle outline up icon"></i>
                <div class="content">Исходищие заявки</div>
            </h3>
        </div>
        <div class="ui segment">
            <h4 class="offers__subheader">Последние заявки:</h4>
            {% if buy_orders|length %}
                <table class="ui table">
                    {% for order in buy_orders %}
                        <tr class="tableheader">
                            <td>{{ order.video }}</td>
                            <td>{{ order.createdAt|date('d.m.Y H:i:s') }}</td>
                            {% if order.status == constant('AppBundle\\Entity\\Order::STATUS_REJECTED') %}
                                <td>Отклонено исполнителем</td>
                            {% elseif order.status == constant('AppBundle\\Entity\\Order::STATUS_EXPIRED') %}
                                <td>Срок предложения истек</td>
                            {% elseif order.status == constant('AppBundle\\Entity\\Order::STATUS_DONE') %}
                                <td>Выполнено</td>
                            {% elseif order.status == constant('AppBundle\\Entity\\Order::STATUS_WAITING') %}
                                <td>Ожидает выполнения</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>Нет исходящих заявок.</p>
            {% endif %}
        </div>
    </div>
    <div class="ui segments">
        <div class="ui segment">
            <h3 class="ui center aligned header">
                <i class="arrow circle outline down icon"></i>
                <div class="content">Входящие заявки</div>
            </h3>
        </div>
        <div class="ui segment">
            <h4 class="offers__subheader">Последние заявки:</h4>
            {% if sell_orders|length %}
                <table class="ui table">
                    {% for order in sell_orders %}
                        <tr class="tableheader">
                            <td>{{ order.video }}</td>
                            <td>{{ order.createdAt|date('d.m.Y H:i:s') }}</td>
                            {% if order.status == constant('AppBundle\\Entity\\Order::STATUS_REJECTED') %}
                                <td>Отклонено исполнителем</td>
                            {% elseif order.status == constant('AppBundle\\Entity\\Order::STATUS_EXPIRED') %}
                                <td>Срок предложения истек</td>
                            {% elseif order.status == constant('AppBundle\\Entity\\Order::STATUS_DONE') %}
                                <td>Выполнено</td>
                            {% elseif order.status == constant('AppBundle\\Entity\\Order::STATUS_WAITING') %}
                                <td>Ожидает выполнения</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p class="label">Нет входящих заявок.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
