{% extends '@App/layout/panel.html.twig' %}

{% block main_body %}
<section class="sheet">
    <h1 class="sheet_heading">Публичная оферта по оказанию услуг</h1>
    <pre class="sheet_pre">В настоящей публичной Оферте нижеприведенные термины используются в следующем значении:</pre>
    <h1 class="sheet_heading">1. Термины и определения</h1>
    <pre class="sheet_pre">
1.1 «Заказчик» - любое физическое лицо, которое оформляя отношения с другим физическим лицом (Исполнителем) на предоставление «Услуг» по средством сервиса AdvertPP, принимает (акцептует) настоящее публичное предложение (Оферту).
1.2 «Исполнитель» - любое физическое лицо, которое оформляя отношения с другим физическим лицом (Заказчиком) на предоставление «Услуг» по средствам сервиса AdvertPP, принимает (акцептует) настоящее публичное предложение (Оферту).
1.3 «Услуги» -  действия Исполнителя (физического лица), осуществляемые им от своего имени, но за счет Заказчика, направленные на организацию взаимовыгодного договора по осуществлению ими тех или иных действий в отношении Предмета услуги в рамках площадки YouTube.com
1.4  «YouTube» — интерактивный интернет ресурс (сайт) по оказанию безвозмездных услуг по размещению видео контента в соответствии с законами региона, в котором он (интернет ресурс) зарегистрирован.
1.5 «Лайк» — действие, направленное на оказание положительного отношения и проявления одобрения к материалу Заказчика со стороны Исполнителя, размещенного на интернет ресурсе (сайте) YouTube.com по средствам клика по функциональной кнопке «Мне понравилось».
1.6 «Акцепт оферты» – полное и безоговорочное принятие оферты Заказчиком и Исполнителем путем оформления отношений между собой на сервисе AdvertPP.ru
1.7 «Интернет-сайт» - Интернет-сайт сервиса, размещенный  под доменным именем: www.AdvertPP.ru
1.8 «Договор» - Договор оказания услуг.
1.9 «Предмет услуги» - лайк, призванный оказать свое положительно отношение Исполнителя к видео материалу Заказчика, размещенного на интернет ресурсе (сайте) YouTube.com.
1.10 «Заказ» - оформляемая на Интернет-сайте AdvertPP.ru заявка Заказчика на получение Услуг от Исполнителя, которая содержит согласованную обеими Сторонами информацию о стоимости Предмета услуги, а также о времени его предоставления. Перечень информации, подлежащей согласованию Сторонами при оформлении Заказа, определяется разделом 2 настоящей Оферты. Заказчик, оформляя Заказ на оказание Услуг, информация о которых размещена на Интернет-сайте, принимает (акцептует) настоящее публичное предложение (Оферту) Интернет-сайта AdvertPP.ru о устном заключении Договора с Исполнителем. Предложение о заключении Договора действует в отношении любых Предметов услуги в течение всего периода времени, пока информация о соответствующих Услугах размещена на Интернет-сайте.
С момента подтверждения Заказа на оказание Услуг, оформленного в соответствии с размещенными на Интернет-сайте правилами, между Сторонами, заключен Договор о нижеследующем:
    </pre>
    <h1 class="sheet_heading">2. Предмет Договора</h1>
    <pre class="sheet_pre">
2.1 Заказчик обязуется заключить Договор с Исполнителем в соответствии с прейскурантом Исполнителя на оказание им Услуг и организовать предоставление Услуг Заказчику, а Заказчик обязуется оплатить Услуги Исполнителя на условиях настоящего Договора по средствам Интернет сайта AdvertPP.ru.. Количество и наименование Услуг определяются Заказом, оформленным в соответствии правилами, размещенными на Интернет-сайте.
2.2  Вся информация, которая вводится Заказчиком на Интернет-сайте, используется исключительно для осуществления Услуги Исполнителем, и не будет передана третьим лицам.
2.3 Исполнитель Услуг не несет ответственности за содержание и достоверность информации, предоставленной Заказчиком при оформлении Заказа.
2.4 Интернет-сайт AdvertPP.ru не несет ответственности за информацию размещенную на интернет ресурсе YouTube.com заказчиком, Услугу продвижения которой он (Заказчик) заказывает у Исполнителя.
2.5 Интернет-сайт AdvertPP.ru не несет ответственности за информацию размещенную на интернет ресурсе YouTube.com Исполнителем при регистрации и автоматического парсинга видео контента с интернет ресурса YouTube.com
    </pre>
    <h1 class="sheet_heading">3. Права и обязанности Сторон</h1>
    <pre class="sheet_pre">
3.1 Исполнитель Услуг обязан:
3.1.1 Выполнить взяты на себя обязательства по исполнению Услуги Заказчику согласно принятому к исполнению Заказу.
3.1.2 Отказать в исполнении заявки на оказание Услуг перед Заказчиком, если предоставленный материал Заказчика противоречит законодательству РФ и другим морально-этическим нормам.
3.2 Исполнитель Услуг вправе:
3.2.1 Удержать полную стоимость Заказа в случае указания Заказчиком некорректных данных для исполнения Заказа.
3.3 Заказчик обязан:
3.3.1 Произвести оплату суммы Заказа  в соответствии с условиями оформленного Заказчиком Заказа с Исполнителем. Оплату заказанных Услуг Заказчик вправе производить одним из представленных на Интернет-сайте способов оплаты.
    </pre>
    <h1 class="sheet_heading">4. Дополнительные условия</h1>
    <pre class="sheet_pre">
4.1 Настоящий Договор вступает в силу с момента получения Исполнителем заявки на Услугу Заказа Заказчика и действует до полного исполнения Сторонами обязательств, предусмотренных Договором и вытекающих из него.
4.2 При размещении заявки Заказа Заказчик удостоверяет, что условия настоящего Договора на момент его заключения принимаются им без каких-либо возражений и соответствуют его действительной воле как Заказчика. При размещении Заказа Заказчик уяснил значение используемых в настоящем Договоре терминов, слов и выражений согласно их нормативно-правовому определению и (или) толкованию условий Договора в соответствии с законодательством Российской Федерации.
4.3 Сообщения, направляемые с контактных адресов электронной почты сторон, являются документами, составленными в простой письменной форме и надлежаще подписанными соответствующей стороной (отправителем) аналогом собственноручной подписи. Стороны соглашаются, что такие документы (сообщения) будут иметь юридическую силу без каких-либо дополнительных подтверждений или оформлений (в том числе без их собственноручного подписания), если только иное прямо не указано на сайте агента или не согласовано сторонами.
4.4 Заказчик понимает и подтверждает, что Исполнитель действует по его поручению, что Исполнитель выполняет лишь конкретные условия Заказа заказа Заказчика
4.5 Заказчик и исполнитель понимают и подтверждают, что Интернет-сайт AdvertPP.ru выполняет лишь посреднические функции для Заказчика и Исполнителя и не может нести ответственность за возможные фактические и/или юридические последствия исполнения или не исполнение Договора заключенного между Заказчиком и Исполнителем.
4.6 Заказчик и исполнитель понимают и подтверждают, что Интернет-сайт AdvertPP.ru удерживает комиссию равную комиссии при использовании платежных систем использующихся на Интернет-сайте.
    </pre>
</section>
{% endblock %}