{% extends '@App/layout/panel.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1">Редактировать профиль пользователя</h1>
    {{ form_start(profile_form, {'attr': {'class': 'ui large form'~(profile_form.vars.valid ? '' : ' error')}}) }}
    <h4 class="offers__subheader">Настройки профиля</h4>
    <div class="field">
        <div class="input__box">
            {{ form_widget(profile_form.name, {'attr': {'placeholder': 'Имя пользователя', 'class': 'input__text'}}) }}
        </div>
        {% if form_errors(profile_form.name) %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ form_errors(profile_form.name) }}</p>
          </div>
        {% endif %}
    </div>
    <br />

    <div class="field">
        <div class="input__box">
            {{ form_widget(profile_form.setting_dashboard_display, {'attr': {'class': 'input__text'}}) }}
        </div>
        {% if form_errors(profile_form.setting_dashboard_display) %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ form_errors(profile_form.setting_dashboard_display) }}</p>
          </div>
        {% endif %}
    </div>
<br />




    <div class="field">
        <div class="input__text ui checkbox" style="margin-bottom: 20px;">
            {{ form_label(profile_form.setting_show_tips) }}
            {{ form_widget(profile_form.setting_show_tips) }}
        </div>
        {% if form_errors(profile_form.setting_show_tips) %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ form_errors(profile_form.setting_show_tips) }}</p>
          </div>
        {% endif %}
    </div>
<br />



    <div class="field">
        <div class="input__box">
            <img src="{{ asset('bundles/app/images/yad.svg') }}" alt="">
            {{ form_widget(profile_form.yandex_money_account, {'attr': {'placeholder': 'Укажите номер кошелька Яндекс.Деньги', 'class': 'input__text'}}) }}
        </div>
        {% if form_errors(profile_form.yandex_money_account) %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ form_errors(profile_form.yandex_money_account) }}</p>
          </div>
        {% endif %}
    </div>
<br />
    <div class="field">
        <div class="input__box">
            <img src="{{ asset('bundles/app/images/wm.svg') }}" alt="">
            {{ form_widget(profile_form.webmoney_account, {'attr': {'placeholder': 'Укажите номер R кошелька WebMoney', 'class': 'input__text'}}) }}
        </div>
        {% if form_errors(profile_form.webmoney_account) %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ form_errors(profile_form.webmoney_account) }}</p>
          </div>
        {% endif %}
    </div>
<br />
    <div class="field">
        <div class="input__box">
            <img src="{{ asset('bundles/app/images/qiwi.svg') }}" alt="">
            {{ form_widget(profile_form.qiwi_account, {'attr': {'placeholder': 'Укажите номер телефона кошелька QIWI', 'class': 'input__text'}}) }}
        </div>
        {% if form_errors(profile_form.qiwi_account) %}
          <div class="message message--error">
            <div class="message__close fa fa-times-circle"></div>
            <p class="message__header">{{ form_errors(profile_form.qiwi_account) }}</p>
          </div>
        {% endif %}
    </div>

    {{ form_widget(profile_form.submit, {'attr': {'class': 'btn btn--green'}}) }}
    {{ form_end(profile_form) }}
<br /><br />
    <h4 class="offers__subheader">Аккаунты Youtube</h4>
    {% if app.user.googleAccounts|length %}

      {% for account in app.user.googleAccounts %}
        <div class="table__item">
          <div class="user-stats-popup" data-content="">
              <div class="item__image">
                <img class="" src="{{ account.channelImages['default'] }}">
              </div>
              <p class="item__channelname" style="max-width: initial;">{{ account.channelName }}</p>
          </div>
          <a class="btn btn--blue" href="{{ path('panel_refresh_account', {'account_id': account.id}) }}"><img src="{{ asset('bundles/app/images/reload.svg') }}" alt=""></a>
        </div>
      {% endfor %}

    {% endif %}
    <a class="btn btn--green"  style="margin-top: 20px;" href="{{ path('google_auth_code') }}">Добавить аккаунт</a>

    {% if change_password_form is not null %}
        <br /><br />
        <h4 class="offers__subheader">Смена пароля</h4>
        {{ form_start(change_password_form, {'attr': {'class': ''~(change_password_form.vars.valid ? '' : ' error')}}) }}

        <div class="field">
            <div class="input__box">
                {{ form_widget(change_password_form.oldPassword, {'attr': {'placeholder': 'Старый пароль', 'class': 'input__text'}}) }}
            </div>
            {% if form_errors(change_password_form.oldPassword) %}
              <div class="message message--error">
                <div class="message__close fa fa-times-circle"></div>
                <p class="message__header">{{ form_errors(change_password_form.oldPassword) }}</p>
              </div>
            {% endif %}
        </div>
        <br />
        <div class="field">
            <div class="input__box">
                {{ form_widget(change_password_form.plainPassword.first, {'attr': {'placeholder': 'Новый пароль', 'class': 'input__text'}}) }}
            </div>
            {% if form_errors(change_password_form.plainPassword.first) %}
              <div class="message message--error">
                <div class="message__close fa fa-times-circle"></div>
                <p class="message__header">{{ form_errors(change_password_form.plainPassword.first) }}</p>
              </div>
            {% endif %}
        </div>
        <br />
        <div class="field">
            <div class="input__box">
                {{ form_widget(change_password_form.plainPassword.second, {'attr': {'placeholder': 'Повторите новый пароль', 'class': 'input__text'}}) }}
            </div>
            {% if form_errors(change_password_form.plainPassword.second) %}
              <div class="message message--error">
                <div class="message__close fa fa-times-circle"></div>
                <p class="message__header">{{ form_errors(change_password_form.plainPassword.second) }}</p>
              </div>
            {% endif %}
        </div>


        {{ form_widget(change_password_form.submit, {'attr': {'class': 'btn btn--green', 'style': 'margin-bottom: 20px'}}) }}
        {{ form_end(change_password_form) }}
    {% endif %}

    <script>
        $('.ui.checkbox').checkbox();
    </script>
{% endblock %}
