{% extends '@App/layout/admin.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1">История пополнений баланса {{ user.name }}</h1>
    {% if pagination|length %}
        <table class="ui table">
            <thead>
            <tr class="tableheader">
                <th>Номер</th>
                <th>Сумма</th>
                <th>Система</th>
                <th>Дата</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for deposit in pagination %}
                <tr class="tablecell">
                    <td>{{ deposit.id }}</td>
                    <td>{{ deposit.amount }} ₽</td>

                    {% if deposit.type == constant('AppBundle\\Entity\\Deposit::TYPE_YANDEX') %}
                        <td>Yandex.Money</td>
                    {% elseif deposit.type == constant('AppBundle\\Entity\\Deposit::TYPE_WEBMONEY') %}
                        <td>WebMoney</td>
                    {% elseif deposit.type == constant('AppBundle\\Entity\\Deposit::TYPE_QIWI') %}
                        <td>QIWI</td>
                    {% else %}
                        <td>Другой</td>
                    {% endif %}

                    <td>{{ deposit.createdAt|date('d.m.Y H:i:s') }}</td>

                    {% if deposit.status == constant('AppBundle\\Entity\\Deposit::STATUS_NEW') %}
                        <td>Новый</td>
                    {% elseif deposit.status == constant('AppBundle\\Entity\\Deposit::STATUS_PROCESSING') %}
                        <td>Ожидает подтверждения</td>
                    {% elseif deposit.status == constant('AppBundle\\Entity\\Deposit::STATUS_DONE') %}
                        <td>Завершен</td>
                    {% elseif deposit.status == constant('AppBundle\\Entity\\Deposit::STATUS_CANCELED') %}
                        <td>Аннулирован</td>
                    {% else %}
                        <td>Ошибка</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            {{ include('@App/Pagination/_pagination.html.twig', {'controls': pagination_controls}) }}
        </div>
    {% else %}
        <p class="label">Нет пополнений баланса.</p>
    {% endif %}
{% endblock %}
