{% extends '@App/layout/admin.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1">ПОЛЬЗОВАТЕЛИ</h1>
    <h4 class="offers__subheader">СТАТИСТИКА</h4>
    <table class="ui table">
        <thead style="background-color: #f2f2f2">
        <tr class="tableheader">
            <th>Всего пользователей в системе</th>
            <th>Продающих лайки</th>
        </tr>
        </thead>
        <tbody>
          <tr class="tablecell">
            <td>todo</td>
            <td>todo</td>
          </tr>
        </tbody>
    </table>
    <h4 class="offers__subheader">ПОИСК</h4>
    <div class="ui segments">
        <div class="ui segment">
            <form class="" method="get">
                    <div class="field">
                      <div class="input__box">
                        <input type="text" name="search" value="{{ search }}" class="input__text" placeholder="Имя пользователя или название канала">
                      </div>
                    </div>
                    <button type="submit" class="btn btn--blue" style="margin-bottom: 20px">Поиск</button>
            </form>
            {% if results is not null %}
                <h3 class="offers__subheader">Результаты поиска по "{{ search }}"</h3>
                <table class="ui very basic table">
                    {% for user in results %}
                            <p class="text--redspan"><a href="{{ path('admin_users_view', {'id': user.id}) }}">{{ user.name }}</a></p>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
