{% extends '@App/layout/admin.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1">История транзакций пользователя {{ user.name }}</h1>
    {% if pagination|length %}
        <table class="ui table">
            <thead>
            <tr class="tableheader">
                <th>Сумма</th>
                <th>Дата</th>
                <th>Информация</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in pagination %}
                <tr class="tablecell">
                    <td>{{ transaction.amount }} ₽</td>
                    <td>{{ transaction.createdAt|date('d.m.Y H:i:s') }}</td>
                    <td>{{ transaction.comment }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            {{ include('@App/Pagination/_pagination.html.twig', {'controls': pagination_controls}) }}
        </div>
    {% else %}
        <p class="label">Нет транзакций.</p>
    {% endif %}
{% endblock %}
