{% extends '@App/layout/admin.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1">Просмотр пользователя {{ user.name }}</h1>
    <table class="ui table">
        <tr class="tablecell">
            <td><b>Имя пользователя:</b></td>
            <td>{{ user.name }}</td>
        </tr>
        <tr class="tablecell">
            <td><b>Email:</b></td>
            <td>{{ user.email }}</td>
        </tr>
        <tr class="tablecell">
            <td><b>Баланс:</b></td>
            <td>{{ user.balance.amount }} ₽</td>
        </tr>
        <tr class="tablecell">
            <td><b>Youtube каналы:</b></td>
            <td>
                {% for google_account in user.googleAccounts %}
                    <div class="user-stats-popup" style="margin-bottom: 12px">
                        <div class="item__image" style="overflow: hidden; width: 48px; height: 48px; border-radius: 24px; margin-right: 20px">
                          <img class="" style="width: 100%; display: block" src="{{ google_account.channelImages['default'] }}">
                        </div>
                        <p class="item__channelname">{{ google_account.channelName }}</p>
                    </div>
                {% endfor %}
            </td>
        </tr>
    </table>
    <a class="btn btn--blue" style="margin-bottom: 20px" href="{{ path('admin_users_deposits', {'user_id': user.id}) }}">История пополнений баланса</a>
    <a class="btn btn--blue" style="margin-bottom: 20px" href="{{ path('admin_users_withdrawals', {'user_id': user.id}) }}">История вывода средств</a>
    <a class="btn btn--blue" style="margin-bottom: 20px" href="{{ path('admin_users_orders', {'user_id': user.id}) }}">История заявок</a>
    <a class="btn btn--blue" style="margin-bottom: 20px" href="{{ path('admin_users_transactions', {'user_id': user.id}) }}">История транзакций</a>
{% endblock %}
