{% extends '@App/layout/admin.html.twig' %}

{% block title %}{% endblock %}

{% block main_body %}
    <h1 class="offers__h1">История вывода средств пользователя {{ user.name }}</h1>
    {% if pagination|length %}
        <table class="ui table">
            <thead>
            <tr class="tableheader">
                <th>Номер</th>
                <th>Сумма</th>
                <th>Дата</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for withdraw in pagination %}
                <tr class="tablecell">
                    <td>{{ withdraw.id }}</td>
                    <td>{{ withdraw.amount }} ₽</td>
                    <td>{{ withdraw.createdAt|date('d.m.Y H:i:s') }}</td>

                    {% if withdraw.status == constant('AppBundle\\Entity\\Withdraw::STATUS_PROCESSING') %}
                        <td>Ожидает обработки</td>
                    {% elseif withdraw.status == constant('AppBundle\\Entity\\Withdraw::STATUS_DONE') %}
                        <td {% if withdraw.comment is not empty %}class="popup-enabled" data-content="{{ withdraw.comment }}"{% endif %}>
                            <span {% if withdraw.comment is not empty %} style="text-decoration: underline dotted; cursor: pointer;"{% endif %}>Исполнен</span>
                        </td>
                    {% elseif withdraw.status == constant('AppBundle\\Entity\\Withdraw::STATUS_REJECTED') %}
                        <td {% if withdraw.comment is not empty %}class="popup-enabled" data-content="{{ withdraw.comment }}"{% endif %}>
                            <span {% if withdraw.comment is not empty %} style="text-decoration: underline dotted; cursor: pointer;"{% endif %}>Отклонен</span>
                        </td>
                    {% else %}
                        <td>Ошибка</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            {{ include('@App/Pagination/_pagination.html.twig', {'controls': pagination_controls}) }}
        </div>
        <script>
            $(function () {
                $('.popup-enabled').popup();
            })
        </script>
    {% else %}
        <p class="label">Нет запросов на вывод средств.</p>
    {% endif %}
{% endblock %}
