<!DOCTYPE html>
<html lang="ru" class="js layout--boxed">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="{{ settings.get('landing_description') }}">
    <meta name="keywords" content="{{ settings.get('landing_keywords') }}">

    <title>{{ settings.get('landing_title') }}</title>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/landing__media.css') }}">

</head>

<body>
  <!-- <div class="legalbox">
    <a href="#" id="legal_close">X</a>
    <p>Взаимодействуя с сайтом, вы соглашаетесь с <a href="#">Политикой Конфиденциальности.</a></p>
  </div> -->
  <header class="header__wrapper">
    <div class="container">
      <div class="header">
        <a href="/" class="header__logo">
          <img src="{{ asset('bundles/app/images/logo.svg') }}" alt="">
        </a>
        <div class="header__login">
          {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
              <a href="{{ path('like_index') }}">ПЕРЕЙТИ В ПАНЕЛЬ УПРАВЛЕНИЯ</a>
          {% else %}
              <a href="{{ path('security_login') }}">ВОЙТИ</a>
              <a href="{{ path('security_registration') }}">ЗАРЕГИСТРИРОВАТЬСЯ</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
  <section class="hero__wrapper">
    <div class="container">
      <div class="hero">
        <div class="hero__left">
          <h1 class="hero__heading">Зарабатывай больше<br>на своем канале<br>вместе с системой AdvertPP</h1>
          <div class="hero__btngroup">
            <a href="#" id="promote" class="btn btn--primary">ПРОДВИНУТЬ ВИДЕО</a>
            <a href="#" id="earn" class="btn btn--primary">ЗАРАБОТАТЬ НА БЛОГЕ</a>
          </div>
        </div>
        <div class="hero__right">
          <img src="{{ asset('bundles/app/images/first-img.svg') }}" alt="youtube" class="hero__img">
        </div>
      </div>
    </div>
  </section>
  <section class="features__wrapper">
    <div class="container">
      <div class="features">
        <div class="features__left">
          <h2 class="features__heading features__heading--left">ПРОДВИГАЙ</h2>
          <div class="features__items">
            <div class="features__item" data-text="Самое доступное по стоимости продвижение при помощи популярных блогеров" >
              <div class="pic">
                <img src="{{ asset('bundles/app/images/pay.svg') }}" class="svg" alt="">
              </div>
              <p class="text">Минимальные<br>вложения</p>
            </div>
            <div class="features__item" data-text="Интенсивный рост просмотров и новых подписчиков" >
              <div class="pic">
                <img src="{{ asset('bundles/app/images/peoples.svg') }}" class="svg" alt="">
              </div>
              <p class="text">Быстрый рост<br>посещаемости</p>
            </div>
            <div class="features__item" data-text="Работай напрямую с блогерами без посредников" >
              <div class="pic">
                <img src="{{ asset('bundles/app/images/coo.svg') }}" class="svg" alt="">
              </div>
              <p class="text">Система заявок<br>и предложений</p>
            </div>
            <div class="features__item" data-text="Простой и интуитивный интерфейс для всех" >
              <div class="pic">
                <img src="{{ asset('bundles/app/images/laptop.svg') }}" class="svg" alt="">
              </div>
              <p class="text">Удобная современная<br>панель управления</p>
            </div>
          </div>
        </div>
        <div class="features__right">
          <h2 class="features__heading features__heading--right">ЗАРАБАТЫВАЙ</h2>
          <div class="features__items">
            <div class="features__item" data-text="Продвигай и зарабатывай одновременно с одного аккаунта" >
              <div class="pic">
                <img src="{{ asset('bundles/app/images/money.svg') }}" class="svg" alt="">
              </div>
              <p class="text">продвигай<br>и зарабатывай</p>
            </div>
            <div class="features__item" data-text="Никаких личных переговоров. Принимай или отклоняй заявки на своё усмотрение" >
              <div class="pic">
                <img src="{{ asset('bundles/app/images/base.svg') }}" class="svg" alt="">
              </div>
              <p class="text">Сотрудничество<br>без посредников</p>
            </div>
            <div class="features__item" data-text="Всё настолько просто, что не потребует от вас усилий и времени" >
              <div class="pic">
                <img src="{{ asset('bundles/app/images/clock.svg') }}" class="svg" alt="">
              </div>
              <p class="text">Всего несколько<br>минут в день</p>
            </div>
            <div class="features__item" data-text="Деньги за один клик…? Многие мечтают оказаться на вашем месте" >
              <div class="pic">
                <img src="{{ asset('bundles/app/images/cool.svg') }}" class="svg" alt="">
              </div>
              <p class="text">Кликай на Like<br>и получай деньги</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="description">
    <div class="container">
      <h2 class="features__heading clrred center">Что такое AdvertPP</h2>
      <div class="description__items">
            <div class="description__item">
              <div class="description__number">
                1
              </div>
              <p class="text">Простое и быстрое<br>решение для<br>продвижения видео<br>на YouTube</p>
            </div>
            <div class="description__item">
              <div class="description__number">
                2
              </div>
              <p class="text">Гарантированный рост<br>популярности вашего<br>канала, просмотров и<br>подписчиков</p>
            </div>
            <div class="description__item">
              <div class="description__number">
                3
              </div>
              <p class="text">Стабильный<br>дополнительный<br>доход с вашего<br>YouTube канала</p>
            </div>
            <div class="description__item">
              <div class="description__number">
                4
              </div>
              <p class="text">Удобная работа с<br>популярными<br>блогерами<br>напрямую</p>
            </div>
          </div>
    </div>
  </section>
  <section class="form__wrapper">
    <div class="container">
      <div class="formbox">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <h2 class="formbox__heading">ВЫ УЖЕ ВОШЛИ</h2>
            <a href="{{ path('like_index') }}" class="btn btn--inverse form__btn">ПЕРЕЙТИ В ПАНЕЛЬ УПРАВЛЕНИЯ</a>
        {% else %}
            <h2 class="formbox__heading">ВОЙТИ ИЛИ ЗАРЕГИСТРИРОВАТЬСЯ</h2>
            <a href="{{ path('security_login') }}" class="btn btn--inverse form__btn">ВОЙТИ</a>
            <a href="{{ path('security_registration') }}" class="btn btn--inverse form__btn">ЗАРЕГИСТРИРОВАТЬСЯ</a>
            <a href="{{ path('google_auth_code') }}" class="btn btn--inverse form__btn">ВОЙТИ ЧЕРЕЗ GOOGLE</a>
        {% endif %}
      </div>
    </div>
  </section>
  <section class="prefooter">
    <div class="container">
      <div class="prefooter__inner">
        <a class="prefooter__link" href="{{ path('rules') }}">Правила</a>
        <a class="prefooter__link" href="{{ path('privacy_policy') }}">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
  </section>
  <footer class="footer">
    <p>AdvertPP® 2017</p>
  </footer>

<!-- <div class="container">
    <h1>AdvertPP</h1>
    <p>Здесь будет лендос</p>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <p><a href="{{ path('like_index') }}">Перейти в панель управления</a></p>
    {% else %}
        <p><a href="{{ path('security_login') }}">Войти</a> или <a href="{{ path('security_registration') }}">Зарегистрироваться</a></p>
        <p><a href="{{ path('google_auth_code') }}">Войти через Google</a></p>
    {% endif %}
</div> -->
<!-- <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script> -->

<script src="{{ asset('bundles/app/js/jquery-3.2.1.min.js') }}"></script>
<script>

  // "close" button makes element '#legal_close' disappear
  // document.getElementById('legal_close').onclick = function(e) {
  //   e.preventDefault()
  //   e.target.parentNode.classList.add('hidden')
  // }
  // end


  document.querySelector('.features__left').addEventListener('mouseover', leftHandler)
  document.querySelector('#promote').onclick = function(e) {
    e.preventDefault()
    document.querySelector('.features__left').removeEventListener('mouseover', leftHandler)
    document.querySelector('.features__right').removeEventListener('mouseover', rightHandler)
    setTimeout(_ => {
      document.querySelector('.features__right').addEventListener('mouseover', rightHandler)
      document.querySelector('.features__left').addEventListener('mouseover', leftHandler)
    }, 2000)
    document.querySelector('.features__heading--right').classList.remove('red')
    document.querySelector('.features__heading--left').classList.add('red')
    const svgs = document.querySelectorAll('.features__left .svg')
    for (let i = 0; i < svgs.length; i++) {
      svgs[i].classList.add('red')
    }
    const svgsOpp = document.querySelectorAll('.features__right .svg')
    for (let i = 0; i < svgsOpp.length; i++) {
      svgsOpp[i].classList.remove('red')
    }
    document.querySelector('.features__heading--left').scrollIntoView({block: "start", behavior: "smooth"})
  }


  document.querySelector('.features__right').addEventListener('mouseover', rightHandler)
  document.querySelector('#earn').onclick = function(e) {
    e.preventDefault()
    document.querySelector('.features__right').removeEventListener('mouseover', rightHandler)
    document.querySelector('.features__left').removeEventListener('mouseover', leftHandler)
    setTimeout(_ => {
      document.querySelector('.features__right').addEventListener('mouseover', rightHandler)
      document.querySelector('.features__left').addEventListener('mouseover', leftHandler)
    }, 2000)
    document.querySelector('.features__heading--left').classList.remove('red')
    document.querySelector('.features__heading--right').classList.add('red')
    const svgs = document.querySelectorAll('.features__right .svg')
    for (let i = 0; i < svgs.length; i++) {
      svgs[i].classList.add('red')
    }
    const svgsOpp = document.querySelectorAll('.features__left .svg')
    for (let i = 0; i < svgsOpp.length; i++) {
      svgsOpp[i].classList.remove('red')
    }
    document.querySelector('.features__heading--right').scrollIntoView({block: "start", behavior: "smooth"})
  }
  function rightHandler() {
    document.querySelector('.features__heading--left').classList.remove('red')
    document.querySelector('.features__heading--right').classList.add('red')
    const svgs = document.querySelectorAll('.features__right .svg')
    for (let i = 0; i < svgs.length; i++) {
      svgs[i].classList.add('red')
    }
    const svgsOpp = document.querySelectorAll('.features__left .svg')
    for (let i = 0; i < svgsOpp.length; i++) {
      svgsOpp[i].classList.remove('red')
    }
  }
  function leftHandler() {
    document.querySelector('.features__heading--right').classList.remove('red')
    document.querySelector('.features__heading--left').classList.add('red')
    const svgs = document.querySelectorAll('.features__left .svg')
    for (let i = 0; i < svgs.length; i++) {
      svgs[i].classList.add('red')
    }
    const svgsOpp = document.querySelectorAll('.features__right .svg')
    for (let i = 0; i < svgsOpp.length; i++) {
      svgsOpp[i].classList.remove('red')
    }
  }

  jQuery('img.svg').each(function(){
    var $img = jQuery(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');

    jQuery.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = jQuery(data).find('svg');

        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }

        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');

        // Check if the viewport is set, if the viewport is not set the SVG wont't scale.
        if(!$svg.attr('viewBox') && $svg.attr('height') && $svg.attr('width')) {
            $svg.attr('viewBox', '0 0 ' + $svg.attr('height') + ' ' + $svg.attr('width'))
        }

        // Replace image with new SVG
        $img.replaceWith($svg);

    }, 'xml');

})
</script>
</body>

</html>
