<!DOCTYPE html>
<html lang="ru" class="js layout--boxed">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="{{ settings.get('landing_description') }}">
    <meta name="keywords" content="{{ settings.get('landing_keywords') }}">

    <title>{{ settings.get('landing_title') }}</title>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/landing__media.css') }}">

</head>

<body>
  <!-- <div class="legalbox">
    <a href="#" id="legal_close">X</a>
    <p>Взаимодействуя с сайтом, вы соглашаетесь с <a href="#">Политикой Конфиденциальности.</a></p>
  </div> -->
  <header class="header__wrapper">
    <div class="container">
      <div class="header">
        <a href="/" class="header__logo">
          <img src="{{ asset('bundles/app/images/logo.svg') }}" alt="">
        </a>
        <div class="header__login">
          {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
              <a href="{{ path('like_index') }}">ПЕРЕЙТИ В ПАНЕЛЬ УПРАВЛЕНИЯ</a>
          {% else %}
              <a href="{{ path('security_login') }}">ВОЙТИ</a>
              <a href="{{ path('security_registration') }}">ЗАРЕГИСТРИРОВАТЬСЯ</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
  <section class="sheet">
      <h1 class="sheet_heading">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</h1><pre class="sheet_pre">
Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую сервис AdvertPP, расположенный на доменном имени AdvertPP.ru, может получить о Пользователе во время использования Инернет-сайта.
</pre>
<h1 class="sheet_heading">1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</h1><pre class="sheet_pre">
1.1 В настоящей Политике конфиденциальности используются следующие термины:

1.1.1. «Администрация сайта Интернет-сайта (далее – Администрация сайта) » – уполномоченные сотрудники на управления сайтом, действующие от имени AdvertPP, которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.

1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).

1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.

1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.

1.1.5. «Пользователь Интернет-сайта (далее Пользователь)» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Интернет-сайт.

1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.

1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
</pre>

<h1 class="sheet_heading">2. ОБЩИЕ ПОЛОЖЕНИЯ</h1><pre class="sheet_pre">
2.1. Использование Пользователем Интернет-сайта означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.

2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование Интернет-сайта.

2.3.Настоящая Политика конфиденциальности применяется только к Интернет-сайту AdvertPP. Интернет-сайта не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте Интернет-магазина.

2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем Интернет-сайта.
</pre>
 
<h1 class="sheet_heading">3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</h1><pre class="sheet_pre">
3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации Интернет-сайта по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на Интернет-сайте или при авторизации через систему автоматической авторизации Google.

3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения регистрационной формы на Интернет-сайте AdvertPP и включают в себя следующую информацию:

3.2.1. адрес электронной почты (e-mail);

3.2.2. Имя (логин)

3.3. Интернет-сайт защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц Интернет-сайта содержащих скрипты выполняющие работу по средствам:
	•	IP адреса;
	•	информации из cookies;
	•	информации о браузере (или иной программе, которая осуществляет доступ к показу рекламы);
	•	времени доступа;
	•	адреса страницы, на которой расположен рекламный блок;
	•	реферер (адрес предыдущей страницы).

3.3.1. Отключение cookies может повлечь невозможность доступа к частям Интернет-сайта, требующим авторизации.

3.3.2. Интернет-магазин осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля законности проводимых финансовых операций.

3.4. Любая иная персональная информация неоговоренная выше (используемые браузеры и операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.
</pre>

<h1 class="sheet_heading">4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ</h1><pre class="sheet_pre">
4.1. Персональные данные Пользователя Администрация Интернет-сайта может использовать в целях:

4.1.1. Идентификации Пользователя, зарегистрированного на Интернет-сайте по средствам автоматической авторизации Google и его личного канала на интернет ресурсе YouTube.

4.1.2. Предоставления Пользователю доступа к базе предложений пользователей Интернет-сайта AdvertPP.

4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Интернет-сайта, оказания услуг, обработка запросов и заявок от Пользователя.

4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.

4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.

4.1.6. Создания учетной записи для совершения  сделок с другими пользователями Интернет-сайта AdvertPP, если Пользователь дал согласие на создание учетной записи или воспользовался автоматической авторизацией через систему Google.

4.1.7. Уведомления Пользователя Интернет-сайт о состоянии сделок между другими пользователями Интернет-сайта.

4.1.8. Обработки и получения платежей совершенных пользователем для осуществления работы с другими пользователями Интернет-сайта.

4.1.9. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием Интернет-сайта.

4.1.10. Предоставления Пользователю с его согласия, новостной рассылки и иных сведений от имени Интернет-сайта или от имени партнеров Интернет-сайта.

4.1.11. Осуществления рекламной деятельности с согласия Пользователя.

4.1.12. Предоставления доступа Пользователю на сайты или сервисы партнеров Интернет-сайт с целью получения продуктов, обновлений и услуг.
</pre>

<h1 class="sheet_heading">5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</h1><pre class="sheet_pre">
5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.

5.2. Пользователь соглашается с тем, что Администрация Интернет-сайта вправе передавать персональные данные третьим лицам, в частности, операторам электросвязи и платежным сервисам.

5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.

5.4. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате или разглашении персональных данных.

5.5. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.

5.6. Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.
</pre>
<h1 class="sheet_heading">6. ОБЯЗАТЕЛЬСТВА СТОРОН</h1><pre class="sheet_pre">

6.1. Пользователь обязан:

6.1.1. Предоставить информацию о персональных данных, необходимую для пользования Сайтом интернет-магазина.

6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.

6.2. Администрация сайта обязана:

6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.

6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.

6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.

6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
</pre>

<h1 class="sheet_heading">7. ОТВЕТСТВЕННОСТЬ СТОРОН</h1><pre class="sheet_pre">
7.1. Администрация Интернет-сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.

7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт ответственность, если данная конфиденциальная информация:

7.2.1. Стала публичным достоянием до её утраты или разглашения.

7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.

7.2.3. Была разглашена с согласия Пользователя.
</pre>

<h1 class="sheet_heading">8. РАЗРЕШЕНИЕ СПОРОВ</h1><pre class="sheet_pre">
8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем Интернет-сайта и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).

8.2 .Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.

8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Российской Федерации.

8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Российской Федерации.
</pre>

<h1 class="sheet_heading">9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</h1><pre class="sheet_pre">
9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.

9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Интернет-сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.

9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать через форму обратной связи.

9.4. Действующая Политика конфиденциальности размещена на странице по адресу www.AdvertPP.ru</pre>
</section>
  <!-- <section class="form__wrapper">
    <div class="container">
      <div class="formbox">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <h2 class="formbox__heading">ВЫ УЖЕ ВОШЛИ</h2>
            <a href="{{ path('like_index') }}" class="btn btn--inverse form__btn">ПЕРЕЙТИ В ПАНЕЛЬ УПРАВЛЕНИЯ</a>
        {% else %}
            <h2 class="formbox__heading">ВОЙТИ ИЛИ ЗАРЕГИСТРИРОВАТЬСЯ</h2>
            <a href="{{ path('security_login') }}" class="btn btn--inverse form__btn">ВОЙТИ</a>
            <a href="{{ path('security_registration') }}" class="btn btn--inverse form__btn">ЗАРЕГИСТРИРОВАТЬСЯ</a>
            <a href="{{ path('google_auth_code') }}" class="btn btn--inverse form__btn">ВОЙТИ ЧЕРЕЗ GOOGLE</a>
        {% endif %}
      </div>
    </div>
  </section> -->
  <section class="prefooter">
    <div class="container">
      <div class="prefooter__inner">
        <a class="prefooter__link" href="{{ path('rules') }}">Правила</a>
        <a class="prefooter__link" href="{{ path('privacy_policy') }}">Политика конфиденциальности</a>
      </div>
    </div>
  </section>
  <footer class="footer">
    <p>AdvertPP® 2017</p>
  </footer>

<script src="{{ asset('bundles/app/js/jquery-3.2.1.min.js') }}"></script>
</body>

</html>
