﻿<!DOCTYPE html>
<html lang="ru" class="js layout--boxed">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="{{ settings.get('landing_description') }}">
    <meta name="keywords" content="{{ settings.get('landing_keywords') }}">

    <title>{{ settings.get('landing_title') }}</title>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/landing__media.css') }}">

</head>

<body>
  <!-- <div class="legalbox">
    <a href="#" id="legal_close">X</a>
    <p>Взаимодействуя с сайтом, вы соглашаетесь с <a href="#">Политикой Конфиденциальности.</a></p>
  </div> -->
  <header class="header__wrapper">
    <div class="container">
      <div class="header">
        <a href="/" class="header__logo">
          <img src="{{ asset('bundles/app/images/logo.svg') }}" alt="">
        </a>
        <div class="header__login">
          {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
              <a href="{{ path('like_index') }}">ПЕРЕЙТИ В ПАНЕЛЬ УПРАВЛЕНИЯ</a>
          {% else %}
              <a href="{{ path('security_login') }}">ВОЙТИ</a>
              <a href="{{ path('security_registration') }}">ЗАРЕГИСТРИРОВАТЬСЯ</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
  <section class="sheet">
      <h1 class="sheet_heading">Правила сайта</h1>
      <pre class="sheet_pre">
1. Пользоваться сервисом AdvertPP может любой человек, достигший совершеннолетия. Для начала работы необходима регистрация с помощью email или через автоматическую авторизацию Google аккаунта.

2. Каждый пользователь имеет право подключать любое количество YouTube каналов к одному аккаунту. Администрация оставляет за собой право блокировать аккаунты пользователей при нарушении правил.

3. При регистрации пользователь самостоятельно выбирает логин или присваивает имя Google аккаунта. Логин может содержать цифры, буквы латинского алфавита. Нельзя использовать в качестве логинов ненормативную лексику, слова, перевод или звучание которых может негативно восприниматься другими пользователями, а также системные и зарезервированные слова. Администрация вправе изменять такие логины пользователей. 

4. Ответственность за всю размещенную пользователем информацию (ссылка на видео YouTube) несет сам пользователь.

5. На сайте запрещена ненормативная лексика, грубое общение, несанкционированная реклама, размещение информации и материалов, негативно влияющих на имидж сайта. Материалов, содержащих угрозы и оскорбления, дискредитирующих других лиц, нарушающих права граждан на частную жизнь или публичный порядок, носящих характер непристойности; нарушающие в той или иной степени честь и достоинство, права и охраняемые законом интересы других лиц; способствующие или содержащие призывы к разжиганию религиозной, расовой или межнациональной розни, содержащие попытки разжигания вражды или призывы к насилию, а также любых материалов, нарушающих законодательство и авторское право. Всю ответственность в случае нарушений несет на себе пользователь. Администрация ресурса оставляет за собой право удалить любые материалы, нарушающие правила или закон, а также заблокировать или удалить пользователя.

6. При подозрении на взлом аккаунта, рассылке спама или иной подозрительной активности администрация сайта вправе заблокировать аккаунт до выяснения обстоятельств.

7. Спорные ситуации, в том числе с финансами, разрешаются с помощью переписки, при обращении пользователя в службу поддержки сайта. Если какой-либо вопрос не регулируется правилами, администрация системы принимает решение о том, как необходимо поступить в той или иной ситуации.

8. Пользователь берет на себя обязательство не разглашать информацию, полученную в процессе работы в системе, которая доступна только при входе в свой аккаунт. В качестве исключения пользователь имеет право публиковать данные о своем заработке в системе и других параметрах своего аккаунта, если это не затрагивает информацию, связанную с другими пользователями (данные их заказов, личная переписка).

9. Если пользователь ведет постоянную деятельность и получает стабильный доход посредством размещения услуг и выполнения заказов на сайте advertpp.ru, он самостоятельно должен регулировать свои взаимоотношения с государственными органами: самостоятельно оформить ИП/патент/юр. лицо и вовремя оплачивать налоги/сборы.

10. Пользователь сайта не имеет права использовать для продвижения своих услуг некачественные методы рекламы, копировать сайт полностью или частично, использовать дизайн или бренд сайта AdvertPP с целью введения пользователей в заблуждение. 

11. Использование персональных данных сайтом AdvertPP. Пользователь дает добровольное согласие на предоставление, хранение и обработку своих данных, и на получение информации, в том числе email рассылок, от AdvertPP, регистрируясь на сайте. AdvertPP может собирать, хранить и обрабатывать пользовательскую информацию (куки, данные, идентификаторы), если это необходимо в целях обеспечения работы сайта, а также для рекламных целей. 

12. На сайте происходит сбор данных о посетителях с помощью сервисов Гугл Аналитика и Яндекс Метрика. Все данные пользователя хранятся на защищенных серверах и не передаются третьим лицам, исключая необходимость такой передачи в целях обеспечения работы сервиса или маркетинговых целях, а также следуя требованиям законодательства. В любое время вы можете отключить передачу cookie в настройках браузера. При этом следует учесть, что в этом случае некоторые функции сервиса могут перестать работать.</pre>
<h1 class="sheet_heading">Правила работы на AdvertPP.ru</h1>
<pre class="sheet_pre">
1. Интернет-проект AdvertPP.ru является площадкой для размещения объявлений об услугах и заказа данных услуг.

2. Единица услуги на проекте называется Лайк. В данную единицу Блогером может быть включен только один лайк под конкретным видео.

2.1 Лайк – это виртуальная услуга или услуга, которая может быть выполнена удаленно.

2.2 Предложение на продажу Лайка создается блогером в его личном кабинете.

2.3 Для размещения предложения на продажу Лайка, YouTube канал блогера должен иметь минимум 5000 (пять тысяч) подписчиков.

2.4 При размещении предложения на продажу лайка модерация не требуется. Предложение доступно для просмотра другим пользователям сразу после публикации в личном кабинете.

2.5 Блогер через личный кабинет может остановить показ своего предложения в списке предложений в любое время без ограничений.

2.6 Блогер устанавливает стоимость за услугу «Поставить лайк» на свое усмотрение. 

3. Каждый пользователь сервиса AdvertPP имеет возможность быть Блогером и Заказчиком. В том числе одновременно.

3.1 Блогер – пользователь сервиса AdvertPP, который размещает предложения «Поставить лайк». Блогер самостоятельно формирует предложения, оформляет их и выкладывает в свободный доступ на сайте.  Блогер получает заявки от Заказчика, и самостоятельно их выполняет.

3.2 Заказчик – пользователь сервиса AdvertPP, который заказывает Лайк (предложения Блогера), самостоятельно выбирая необходимую ему услугу из представленных на сайте. Заказчик оплачивает услугу, отправляет запрос и получает выполненный заказ или отказ от выполнения заявки по усмотрению Блогера с возвращением средств на свой баланс в системе AdvertPP.

4. Все взаимодействия между Блогером и Заказчиком (заказ, оплата, обсуждение заказа (по инициативе блогера)) происходят через интерфейс сайта.

4.1 Для совершения заказа Заказчику нужно выбрать интересующего его Блогера, выбрать опции (если они есть и нужны), и приступить к пополнению баланса и началу оформления заявки.

4.2 Оплата услуг возможна с основного баланса пользователя. Пополнение баланса аккаунта возможно с помощью пластиковой карты, электронных кошельков WebMoney, Яндекс.Деньги, Qiwi. Информация о комиссиях платежной системы за проведение платежа доступна на странице оплаты.

4.3 Оплаченные средства замораживаются и переводятся Блогеру только после окончания работы.

4.4 Блогер получает сумму, равную стоимости заказа на свой основной баланс.

4.5 Вывод средств с основного баланса аккаунта осуществляется по заявке пользователя через личный кабинет. Вывод возможен на электронный кошелек WebMoney, Яндекс.Деньги, Qiwi или пластиковую карту Visa, Mastercard. 
Информация о комиссиях доступна на странице вывода средств. Вывод средств занимает до 48 часов. 
Возможны задержки вывода в праздничные и выходные дни.
Средства, переведенные на баланс аккаунта с карты не могут быть выведены ранее, чем через 1 месяц со дня пополнения. Это связано со стандартной банковской проверкой и полной безопасности транзакции. Проще говоря, чтобы с сервиса не затребовали данную сумму повторно по жалобе недобропорядочного пользователя.

4.6 Блогер или Заказчик вправе отменить заказ, указав причину отмены, при этом средства возвращаются покупателю. В случае отмены заказа по просрочке, средства возвращаются покупателю моментально, без запроса подтверждения продавца.

4.7 Блогер оказывает услуги покупателю самостоятельно и несет полную ответственность за выполнение или невыполнение заявки.

4.8 Блогер обязан отреагировать на заявку «Поставить лайк» в течении 24 часов с момента подачи и оплаты заявки Заказчиком.

4.9 Блогер обязуется не удалять поставленный им Лайк, за который получил установленную сумму при принятии заявки Заказчика. Администрация оставляет за собой право ограничить доступ к аккаунту при поступлении жалоб от Заказчика.

4.10 Администрация сервиса, по понятным причинам, не может гарантировать честность блогера в добросовестном выполнении оплаченной услуги. 
</pre>
<pre class="sheet_pre">Правила и условия использования сервиса опубликованы на сайте и могут быть изменены администрацией kwork.ru без специального уведомления пользователей.</pre>
</pre>
  </section>
  <!-- <section class="form__wrapper">
    <div class="container">
      <div class="formbox">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <h2 class="formbox__heading">ВЫ УЖЕ ВОШЛИ</h2>
            <a href="{{ path('like_index') }}" class="btn btn--inverse form__btn">ПЕРЕЙТИ В ПАНЕЛЬ УПРАВЛЕНИЯ</a>
        {% else %}
            <h2 class="formbox__heading">ВОЙТИ ИЛИ ЗАРЕГИСТРИРОВАТЬСЯ</h2>
            <a href="{{ path('security_login') }}" class="btn btn--inverse form__btn">ВОЙТИ</a>
            <a href="{{ path('security_registration') }}" class="btn btn--inverse form__btn">ЗАРЕГИСТРИРОВАТЬСЯ</a>
            <a href="{{ path('google_auth_code') }}" class="btn btn--inverse form__btn">ВОЙТИ ЧЕРЕЗ GOOGLE</a>
        {% endif %}
      </div>
    </div>
  </section> -->
  <section class="prefooter">
    <div class="container">
      <div class="prefooter__inner">
        <a class="prefooter__link" href="{{ path('rules') }}">Правила</a>
        <a class="prefooter__link" href="{{ path('privacy_policy') }}">Политика конфиденциальности</a>
      </div>
    </div>
  </section>
  <footer class="footer">
    <p>AdvertPP® 2017</p>
  </footer>

<script src="{{ asset('bundles/app/js/jquery-3.2.1.min.js') }}"></script>
</body>

</html>